::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #333;
}
::-webkit-scrollbar-thumb:hover {
  background: #666;
}
::-webkit-scrollbar-corner {
  background: #222;
}
body {
  background: #222;
  color: #fff;
  font-family: arial, helvetica, sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-user-select: none;
}
#main {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
#scroll {
  padding-top: 24px;
  padding-left: 4px;
  width: 100%;
  top: 0px;
  position: absolute;
  -webkit-app-region: drag;
}
#split {
  width: 100%;
  height: 10px;
  background: #111;
  position: absolute;
  -webkit-app-region: no-drag;
}
#editor {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.input,
#input {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  font-family: "Andale Mono", monospace;
  white-space: nowrap;
}
#input {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  overflow: auto;
  cursor: default;
  background: #181818;
  outline-width: 0;
}
#input:focus #cursor {
  background: #ff0;
}
#input:focus > .selection {
  background: rgba(255,255,255,0.25);
}
#cursor {
  width: 2px;
  margin-right: -2px;
  vertical-align: text-bottom;
  display: inline-block;
  background: rgba(255,255,255,0.2);
}
.selection {
  pointer-events: none;
  background: rgba(255,255,255,0.1);
  padding-right: 6px;
  margin-right: -6px;
  padding-left: 6px;
  margin-left: -6px;
}
.selection.tl {
  border-top-left-radius: 10px;
}
.selection.tl.cursor {
  border-top-left-radius: 5px;
}
.selection.bl {
  border-bottom-left-radius: 10px;
}
.selection.bl.cursor {
  border-bottom-left-radius: 5px;
}
.selection.tr {
  border-top-right-radius: 10px;
}
.selection.tr.cursor {
  border-top-right-radius: 5px;
}
.selection.br {
  border-bottom-right-radius: 10px;
}
.selection.br.cursor {
  border-bottom-right-radius: 5px;
}
