
// 00000000   0000000   000   000  000000000  
// 000       000   000  0000  000     000     
// 000000    000   000  000 0 000     000     
// 000       000   000  000  0000     000     
// 000        0000000   000   000     000     

@font-face
    font-family            FontAwesome
    font-weight            normal
    font-style             normal
    src                    url("../../../Contents/Resources/font/fontawesome.woff2")

@font-face
    font-family            FontAwesomeSolid
    font-weight            normal
    font-style             normal
    src                    url("../../../Contents/Resources/font/fa-solid-900.woff2")

@font-face
    font-family            FontAwesomeRegular
    font-weight            normal
    font-style             normal
    src                    url("../../../Contents/Resources/font/fa-regular-400.woff2")
        
@font-face 
    font-family            Mfizz
    src                    url("../../../Contents/Resources/font/mfixx.woff2")
    font-weight            normal
    font-style             normal

@font-face 
    font-family            Devicons
    src                    url("../../../Contents/Resources/font/devopicons.woff2")
    font-weight            normal
    font-style             normal

@font-face
    font-family            file-icons
    src                    url("../../../Contents/Resources/font/file-icons.woff2")
    font-weight            normal
    font-style             normal

@font-face 
    font-family            octicons
    src                    url("../../../Contents/Resources/font/octicons.woff2")
    font-weight            normal
    font-style             normal

// 000   0000000   0000000   000   000  
// 000  000       000   000  0000  000  
// 000  000       000   000  000 0 000  
// 000  000       000   000  000  0000  
// 000   0000000   0000000   000   000  

.icon:before
    -webkit-font-smoothing antialiased
    display                inline-block
    text-align             right
    
// 00000000   0000000   000   000  000000000  00     00   0000000   000   000   0000000   
// 000       000   000  0000  000     000     000   000  000   000  0000  000  000   000  
// 000000    000   000  000 0 000     000     000000000  000   000  000 0 000  000   000  
// 000       000   000  000  0000     000     000 0 000  000   000  000  0000  000   000  
// 000        0000000   000   000     000     000   000   0000000   000   000   0000000   

.icon.js:before           { font-family: fontMono;           content: ""; }
.icon.html:before         { font-family: fontMono;           content: ""; }
.icon.css:before          { font-family: fontMono;           content: ""; }
    
//  0000000    0000000  000000000  000   0000000   0000000   000   000   0000000  
// 000   000  000          000     000  000       000   000  0000  000  000       
// 000   000  000          000     000  000       000   000  000 0 000  0000000   
// 000   000  000          000     000  000       000   000  000  0000       000  
//  0000000    0000000     000     000   0000000   0000000   000   000  0000000   

.icon.binary:before       { font-family: octicons; content: "\f094"; }
.icon.book:before         { font-family: octicons; content: "\f007"; }
.icon.brew:before         { font-family: octicons; content: "\f069"; }
.icon.checklist:before    { font-family: octicons; content: "\f076"; }
.icon.code:before         { font-family: octicons; content: "\f05f"; }
.icon.database:before     { font-family: octicons; content: "\f096"; }
.icon.git-commit:before   { font-family: octicons; content: "\f01f"; }
.icon.git-merge:before    { font-family: octicons; content: "\f023"; }
.icon.github:before       { font-family: octicons; content: "\f00a"; }
.icon.graph:before        { font-family: octicons; content: "\f043"; }
.icon.key:before          { font-family: octicons; content: "\f049"; }
.icon.link:before         { font-family: octicons; content: "\f0b0"; }
.icon.markdown:before     { font-family: octicons; content: "\f0c9"; }
.icon.package:before      { font-family: octicons; content: "\f0c4"; }
.icon.ruby:before         { font-family: octicons; content: "\f047"; }
.icon.secret:before       { font-family: octicons; content: "\f08c"; }
.icon.squirrel:before     { font-family: octicons; content: "\f0b2"; }
.icon.zip:before          { font-family: octicons; content: "\f013"; }

// 00000000   0000000   000   000  000000000   0000000   000   000  00000000   0000000   0000000   00     00  00000000  
// 000       000   000  0000  000     000     000   000  000 0 000  000       000       000   000  000   000  000       
// 000000    000   000  000 0 000     000     000000000  000000000  0000000   0000000   000   000  000000000  0000000   
// 000       000   000  000  0000     000     000   000  000   000  000            000  000   000  000 0 000  000       
// 000        0000000   000   000     000     000   000  00     00  00000000  0000000    0000000   000   000  00000000  

.icon.gear:before         { font-family: FontAwesomeSolid;   content: "\f013"; }
.icon.law:before          { font-family: FontAwesomeSolid;   content: "\f24e"; }
.icon.json:before         { font-family: FontAwesomeSolid;   content: "\f544"; }
.icon.pxm:before          { font-family: FontAwesomeSolid;   content: "\f03e"; }
.icon.icns:before         { font-family: FontAwesomeSolid;   content: "\f03e"; }
.icon.webp:before         { font-family: FontAwesomeSolid;   content: "\f03e"; }

.icon.text:before         { font-family: FontAwesomeRegular; content: "\f15c"; }
.icon.image:before        { font-family: FontAwesomeRegular; content: "\f03e"; }

.icon.file:before         { font-family: FontAwesome; content: "\f016"; }
.icon.android:before      { font-family: FontAwesome; content: "\f17b"; }
.icon.at:before           { font-family: FontAwesome; content: "\f1fa"; }
.icon.audio:before        { font-family: FontAwesome; content: "\f028"; }
.icon.bullhorn:before     { font-family: FontAwesome; content: "\f0a1"; }
.icon.calc:before         { font-family: FontAwesome; content: "\f1ec"; }
.icon.coffee:before       { font-family: FontAwesome; content: "\f0f4"; }
.icon.circle:before       { font-family: FontAwesome; content: "\f111"; }
.icon.earth:before        { font-family: FontAwesome; content: "\f0ac"; }
.icon.gears:before        { font-family: FontAwesome; content: "\f085"; }
.icon.mobile:before       { font-family: FontAwesome; content: "\f10b"; }
.icon.moon:before         { font-family: FontAwesome; content: "\f186"; }
.icon.music:before        { font-family: FontAwesome; content: "\f001"; }
.icon.print:before        { font-family: FontAwesome; content: "\f02f"; }
.icon.recycle:before      { font-family: FontAwesome; content: "\f1b8"; }
.icon.rss:before          { font-family: FontAwesome; content: "\f143"; }
.icon.smarty:before       { font-family: FontAwesome; content: "\f0eb"; }
.icon.sourcemap:before    { font-family: FontAwesome; content: "\f279"; }
.icon.sun:before          { font-family: FontAwesome; content: "\f185"; }
.icon.toc:before          { font-family: FontAwesome; content: "\f03a"; }
.icon.twig:before         { font-family: FontAwesome; content: "\f1bb"; }
.icon.pdf:before          { font-family: FontAwesome; content: "\f1c1"; }

// 00     00  00000000  000  0000000  0000000  
// 000   000  000       000     000      000   
// 000000000  000000    000    000      000    
// 000 0 000  000       000   000      000     
// 000   000  000       000  0000000  0000000  

.icon.apache:before       { font-family: Mfizz; content: "\f102"; }
.icon.archlinux:before    { font-family: Mfizz; content: "A";     }
.icon.c:before            { font-family: Mfizz; content: "\f106"; }
.icon.cpp:before          { font-family: Mfizz; content: "\f10b"; }
.icon.csharp:before       { font-family: Mfizz; content: "\f10c"; }
.icon.debian:before       { font-family: Mfizz; content: "\f111"; }
.icon.elixir:before       { font-family: Mfizz; content: "\f113"; }
.icon.gnome:before        { font-family: Mfizz; content: "\f119"; }
.icon.haskell:before      { font-family: Mfizz; content: "\f121"; }
.icon.java:before         { font-family: Mfizz; content: "\f126"; }
.icon.mjs:before          { font-family: Mfizz; content: "\f129"; }
.icon.msql:before         { font-family: Mfizz; content: "\f136"; }
.icon.objc:before         { font-family: Mfizz; content: "\f13e"; }
.icon.osx:before          { font-family: Mfizz; content: "\f141"; }
.icon.perl:before         { font-family: Mfizz; content: "\f142"; }
.icon.python:before       { font-family: Mfizz; content: "\f14c"; }
.icon.red-hat:before      { font-family: Mfizz; content: "\f14e"; }
.icon.scala:before        { font-family: Mfizz; content: "\f154"; }
.icon.sql:before          { font-family: Mfizz; content: "\f10e"; }
.icon.svg:before          { font-family: Mfizz; content: "\f15c"; }
.icon.tt:before           { font-family: Mfizz; content: "TT";    }
.icon.x11:before          { font-family: Mfizz; content: "\f16e"; }

// 0000000    00000000  000   000  000   0000000   0000000   000   000   0000000  
// 000   000  000       000   000  000  000       000   000  0000  000  000       
// 000   000  0000000    000 000   000  000       000   000  000 0 000  0000000   
// 000   000  000          000     000  000       000   000  000  0000       000  
// 0000000    00000000      0      000   0000000   0000000   000   000  0000000   

.icon.kode:before         { font-family: Devicons; content: "\e680"; }
.icon.angular:before      { font-family: Devicons; content: "\e653"; }
.icon.appcelerator:before { font-family: Devicons; content: "\e6ab"; }
.icon.appstore:before     { font-family: Devicons; content: "\e613"; }
.icon.asp:before          { font-family: Devicons; content: "\e67f"; }
.icon.atom:before         { font-family: Devicons; content: "\e664"; }
.icon.backbone:before     { font-family: Devicons; content: "\e652"; }
.icon.bootstrap:before    { font-family: Devicons; content: "\e647"; }
.icon.bower:before        { font-family: Devicons; content: "\e64d"; }
.icon.chrome:before       { font-family: Devicons; content: "\e643"; }
.icon.clojure:before      { font-family: Devicons; content: "\e668"; }
.icon.compass:before      { font-family: Devicons; content: "\e661"; }
.icon.dart:before         { font-family: Devicons; content: "\e698"; }
.icon.dlang:before        { font-family: Devicons; content: "\e6af"; }
.icon.dojo:before         { font-family: Devicons; content: "\e61c"; }
.icon.dropbox:before      { font-family: Devicons; content: "\e607"; }
.icon.eclipse:before      { font-family: Devicons; content: "\e69e"; }
.icon.erlang:before       { font-family: Devicons; content: "\e6b1"; }
.icon.extjs:before        { font-family: Devicons; content: "\e68e"; }
.icon.fsharp:before       { font-family: Devicons; content: "\e6a7"; }
.icon.git:before          { font-family: Devicons; content: "\e602"; }
.icon.heroku:before       { font-family: Devicons; content: "\e67b"; }
.icon.jquery:before       { font-family: Devicons; content: "\e650"; }
.icon.jqueryui:before     { font-family: Devicons; content: "\e654"; }
.icon.laravel:before      { font-family: Devicons; content: "\e63f"; }
.icon.materialize:before  { font-family: Devicons; content: "\e6b6"; }
.icon.modernizr:before    { font-family: Devicons; content: "\e620"; }
.icon.mootools:before     { font-family: Devicons; content: "\e68f"; }
.icon.node:before         { font-family: Devicons; content: "\e618"; }
.icon.pod:before          { font-family: Devicons; content: "\e669"; }
.icon.prolog:before       { font-family: Devicons; content: "\e6a1"; }
.icon.rails:before        { font-family: Devicons; content: "\e63b"; }
.icon.raphael:before      { font-family: Devicons; content: "\e65f"; }
.icon.requirejs:before    { font-family: Devicons; content: "\e670"; }
.icon.rust:before         { font-family: Devicons; content: "\e6a8"; }
.icon.sass:before         { font-family: Devicons; content: "\e64b"; }
.icon.sencha:before       { font-family: Devicons; content: "\e68c"; }
.icon.snapsvg:before      { font-family: Devicons; content: "\e65e"; }
.icon.swift:before        { font-family: Devicons; content: "\e655"; }
.icon.travis:before       { font-family: Devicons; content: "\e67e"; }
.icon.uikit:before        { font-family: Devicons; content: "\e673"; }
.icon.unity3d:before      { font-family: Devicons; content: "\e621"; }
.icon.vim:before          { font-family: Devicons; content: "\e6c5"; }
.icon.vs:before           { font-family: Devicons; content: "\e60c"; }
.icon.windows:before      { font-family: Devicons; content: "\e60f"; }
.icon.yeoman:before       { font-family: Devicons; content: "\e67a"; }

// 00000000  000  000      00000000          000   0000000   0000000   000   000   0000000  
// 000       000  000      000               000  000       000   000  0000  000  000       
// 000000    000  000      0000000   000000  000  000       000   000  000 0 000  0000000   
// 000       000  000      000               000  000       000   000  000  0000       000  
// 000       000  0000000  00000000          000   0000000   0000000   000   000  0000000   

.icon.noon:before          { font-family: file-icons; content: "\eb33"; }
.icon.gimp:before          { font-family: file-icons; content: "\ea88"; }
.icon._1c:before           { font-family: file-icons; content: "\a5ea"; }
.icon._1c-alt:before       { font-family: file-icons; content: "\ea28"; }
.icon.abap:before          { font-family: file-icons; content: "\e92b"; }
.icon.access:before        { font-family: file-icons; content: "\e9ea"; }
.icon.ada:before           { font-family: file-icons; content: "\e90b"; }
.icon.ae:before            { font-family: file-icons; content: "\e9f3"; }
.icon.ahk:before           { font-family: file-icons; content: "\e932"; }
.icon.ai:before            { font-family: file-icons; content: "\e6b4"; }
.icon.alloy:before         { font-family: file-icons; content: "\e935"; }
.icon.alpine:before        { font-family: file-icons; content: "\e9ff"; }
.icon.ampl:before          { font-family: file-icons; content: "\e94e"; }
.icon.amx:before           { font-family: file-icons; content: "\e99b"; }
.icon.ant:before           { font-family: file-icons; content: "\e93e"; }
.icon.antlr:before         { font-family: file-icons; content: "\e92c"; }
.icon.api:before           { font-family: file-icons; content: "\e92d"; }
.icon.apl:before           { font-family: file-icons; content: "\234b"; }
.icon.apple:before         { font-family: file-icons; content: "\e925"; }
.icon.appveyor:before      { font-family: file-icons; content: "\e923"; }
.icon.arc:before           { font-family: file-icons; content: "\e92f"; }
.icon.arduino:before       { font-family: file-icons; content: "\e930"; }
.icon.arttext:before       { font-family: file-icons; content: "\24d0"; }
.icon.as:before            { font-family: file-icons; content: "\e92e"; }
.icon.asciidoc:before      { font-family: file-icons; content: "\e918"; }
.icon.ats:before           { font-family: file-icons; content: "\e934"; }
.icon.audacity:before      { font-family: file-icons; content: "\e9f9"; }
.icon.augeas:before        { font-family: file-icons; content: "\e931"; }
.icon.autoit:before        { font-family: file-icons; content: "\e933"; }
.icon.babel:before         { font-family: file-icons; content: "\e91f"; }
.icon.bibtex:before        { font-family: file-icons; content: "\e601"; }
.icon.blender:before       { font-family: file-icons; content: "\e9fa"; }
.icon.bluespec:before      { font-family: file-icons; content: "\e93c"; }
.icon.boo:before           { font-family: file-icons; content: "\e939"; }
.icon.boot:before          { font-family: file-icons; content: "\f103"; }
.icon.brain:before         { font-family: file-icons; content: "\e93a"; }
.icon.brakeman:before      { font-family: file-icons; content: "\e9d6"; }
.icon.bro:before           { font-family: file-icons; content: "\e93b"; }
.icon.broccoli:before      { font-family: file-icons; content: "\e922"; }
.icon.byond:before         { font-family: file-icons; content: "\e962"; }
.icon.cabal:before         { font-family: file-icons; content: "\e9c2"; }
.icon.cake:before          { font-family: file-icons; content: "\e9e3"; }
.icon.cakefile:before      { font-family: file-icons; content: "\e924"; }
.icon.cakephp:before       { font-family: file-icons; content: "\e9d3"; }
.icon.cc:before            { font-family: file-icons; content: "\e9d5"; }
.icon.ceylon:before        { font-family: file-icons; content: "\e94f"; }
.icon.cf:before            { font-family: file-icons; content: "\e929"; }
.icon.chai:before          { font-family: file-icons; content: "c";     }
.icon.chapel:before        { font-family: file-icons; content: "\e950"; }
.icon.chartjs:before       { font-family: file-icons; content: "\ea0b"; }
.icon.chuck:before         { font-family: file-icons; content: "\e943"; }
.icon.circleci:before      { font-family: file-icons; content: "\ea12"; }
.icon.cirru:before         { font-family: file-icons; content: "\e951"; }
.icon.cl:before            { font-family: file-icons; content: "\e972"; }
.icon.clarion:before       { font-family: file-icons; content: "\e952"; }
.icon.clean:before         { font-family: file-icons; content: "\e95b"; }
.icon.click:before         { font-family: file-icons; content: "\e95c"; }
.icon.clips:before         { font-family: file-icons; content: "\e940"; }
.icon.cljs:before          { font-family: file-icons; content: "\f104"; }
.icon.cmake:before         { font-family: file-icons; content: "\e93f"; }
.icon.codecov:before       { font-family: file-icons; content: "\2602"; }
.icon.composer:before      { font-family: file-icons; content: "\e683"; }
.icon.config:before        { font-family: file-icons; content: "\f07c"; }
.icon.cordova:before       { font-family: file-icons; content: "\ea11"; }
.icon.coq:before           { font-family: file-icons; content: "\e95f"; }
.icon.cp:before            { font-family: file-icons; content: "\e942"; }
.icon.creole:before        { font-family: file-icons; content: "\e95e"; }
.icon.crystal:before       { font-family: file-icons; content: "\e902"; }
.icon.csound:before        { font-family: file-icons; content: "\e9f0"; }
.icon.csscript:before      { font-family: file-icons; content: "\e9e2"; }
.icon.cucumber:before      { font-family: file-icons; content: "\f02b"; }
.icon.cython:before        { font-family: file-icons; content: "\e963"; }
.icon.d3:before            { font-family: file-icons; content: "\ea10"; }
.icon.darcs:before         { font-family: file-icons; content: "\e964"; }
.icon.dashboard:before     { font-family: file-icons; content: "\f07d"; }
.icon.dbase:before         { font-family: file-icons; content: "\e9f1"; }
.icon.default:before       { font-family: file-icons; content: "\1f5cc";}
.icon.diff:before          { font-family: file-icons; content: "\e960"; }
.icon.docker:before        { font-family: file-icons; content: "\f106"; }
.icon.doxygen:before       { font-family: file-icons; content: "\e928"; }
.icon.doge:before          { font-family: file-icons; content: "\e946"; }
.icon.dyalog:before        { font-family: file-icons; content: "\e90c"; }
.icon.dylib:before         { font-family: file-icons; content: "\ea15"; }
.icon.e:before             { font-family: file-icons; content: "E";     }
.icon.eagle:before         { font-family: file-icons; content: "\e965"; }
.icon.ec:before            { font-family: file-icons; content: "\e9c9"; }
.icon.ecere:before         { font-family: file-icons; content: "\e966"; }
.icon.editorconfig:before  { font-family: file-icons; content: "\ea1b"; }
.icon.eiffel:before        { font-family: file-icons; content: "\e967"; }
.icon.electron:before      { font-family: file-icons; content: "\ea27"; }
.icon.elm:before           { font-family: file-icons; content: "\f102"; }
.icon.em:before            { font-family: file-icons; content: "\e968"; }
.icon.ember:before         { font-family: file-icons; content: "\e61b"; }
.icon.emacs:before         { font-family: file-icons; content: "\e926"; }
.icon.eq:before            { font-family: file-icons; content: "\ea0a"; }
.icon.eslint:before        { font-family: file-icons; content: "\ea0f"; }
.icon.excel:before         { font-family: file-icons; content: "\e9ee"; }
.icon.fabfile:before       { font-family: file-icons; content: "\e94b"; }
.icon.factor:before        { font-family: file-icons; content: "\e96a"; }
.icon.fancy:before         { font-family: file-icons; content: "\e96b"; }
.icon.fantom:before        { font-family: file-icons; content: "\e96f"; }
.icon.fbx:before           { font-family: file-icons; content: "\e9fc"; }
.icon.ff:before            { font-family: file-icons; content: "\fb00"; }
.icon.finder:before        { font-family: file-icons; content: "\e9e9"; }
.icon.flow:before          { font-family: file-icons; content: "\e921"; }
.icon.flux:before          { font-family: file-icons; content: "\e969"; }
.icon.font:before          { font-family: file-icons; content: "\e90f"; }
.icon.fortran:before       { font-family: file-icons; content: "\e90a"; }
.icon.freemarker:before    { font-family: file-icons; content: "\e970"; }
.icon.frege:before         { font-family: file-icons; content: "\e96e"; }
.icon.fuelux:before        { font-family: file-icons; content: "\ea09"; }
.icon.gams:before          { font-family: file-icons; content: "\e973"; }
.icon.gap:before           { font-family: file-icons; content: "\e971"; }
.icon.gdb:before           { font-family: file-icons; content: "\ea08"; }
.icon.genshi:before        { font-family: file-icons; content: "\e976"; }
.icon.gentoo:before        { font-family: file-icons; content: "\e96d"; }
.icon.gf:before            { font-family: file-icons; content: "\e978"; }
.icon.glade:before         { font-family: file-icons; content: "\e938"; }
.icon.glyphs:before        { font-family: file-icons; content: "G";     }
.icon.gml:before           { font-family: file-icons; content: "\e975"; }
.icon.gn:before            { font-family: file-icons; content: "\ea25"; }
.icon.gnu:before           { font-family: file-icons; content: "\e679"; }
.icon.go:before            { font-family: file-icons; content: "\e624"; }
.icon.godot:before         { font-family: file-icons; content: "\e974"; }
.icon.golo:before          { font-family: file-icons; content: "\e979"; }
.icon.gosu:before          { font-family: file-icons; content: "\e97a"; }
.icon.gradle:before        { font-family: file-icons; content: "\e903"; }
.icon.graphql:before       { font-family: file-icons; content: "\e97c"; }
.icon.graphviz:before      { font-family: file-icons; content: "\e97d"; }
.icon.groovy:before        { font-family: file-icons; content: "\e904"; }
.icon.grunt:before         { font-family: file-icons; content: "\e611"; }
.icon.gulp:before          { font-family: file-icons; content: "\e610"; }
.icon.hack:before          { font-family: file-icons; content: "\e9ce"; }
.icon.haml:before          { font-family: file-icons; content: "\f15b"; }
.icon.harbour:before       { font-family: file-icons; content: "\e97b"; }
.icon.hashicorp:before     { font-family: file-icons; content: "\e97e"; }
.icon.haxe:before          { font-family: file-icons; content: "\e907"; }
.icon.hy:before            { font-family: file-icons; content: "\e97f"; }
.icon.idl:before           { font-family: file-icons; content: "\e947"; }
.icon.idris:before         { font-family: file-icons; content: "\e983"; }
.icon.igorpro:before       { font-family: file-icons; content: "\e980"; }
.icon.indesign:before      { font-family: file-icons; content: "\e9f4"; }
.icon.inform7:before       { font-family: file-icons; content: "\e984"; }
.icon.inno:before          { font-family: file-icons; content: "\e985"; }
.icon.io:before            { font-family: file-icons; content: "\e981"; }
.icon.ioke:before          { font-family: file-icons; content: "\e982"; }
.icon.ionic:before         { font-family: file-icons; content: "\f14b"; }
.icon.isabelle:before      { font-family: file-icons; content: "\e945"; }
.icon.j:before             { font-family: file-icons; content: "\e937"; }
.icon.jade:before          { font-family: file-icons; content: "\e90d"; }
.icon.jake:before          { font-family: file-icons; content: "\e948"; }
.icon.jenkins:before       { font-family: file-icons; content: "\e667"; }
.icon.jinja:before         { font-family: file-icons; content: "\e944"; }
.icon.jsonld:before        { font-family: file-icons; content: "\e958"; }
.icon.jsx:before           { font-family: file-icons; content: "\e9e6"; }
.icon.julia:before         { font-family: file-icons; content: "\26ec"; }
.icon.jupyter:before       { font-family: file-icons; content: "\e987"; }
.icon.karma:before         { font-family: file-icons; content: "\e9cd"; }
.icon.keynote:before       { font-family: file-icons; content: "\e9e5"; }
.icon.khronos:before       { font-family: file-icons; content: "\e9f8"; }
.icon.kivy:before          { font-family: file-icons; content: "\e901"; }
.icon.knockout:before      { font-family: file-icons; content: "\4B";   }
.icon.kotlin:before        { font-family: file-icons; content: "\e989"; }
.icon.krl:before           { font-family: file-icons; content: "\e988"; }
.icon.labview:before       { font-family: file-icons; content: "\e98a"; }
.icon.lasso:before         { font-family: file-icons; content: "\e98c"; }
.icon.leaflet:before       { font-family: file-icons; content: "\ea07"; }
.icon.lean:before          { font-family: file-icons; content: "L";     }
.icon.lein:before          { font-family: file-icons; content: "\f105"; }
.icon.lfe:before           { font-family: file-icons; content: "\e94c"; }
.icon.lightwave:before     { font-family: file-icons; content: "\e9fb"; }
.icon.lisp:before          { font-family: file-icons; content: "\e908"; }
.icon.llvm:before          { font-family: file-icons; content: "\e91d"; }
.icon.logtalk:before       { font-family: file-icons; content: "\e98d"; }
.icon.lookml:before        { font-family: file-icons; content: "\e98e"; }
.icon.ls:before            { font-family: file-icons; content: "\e914"; }
.icon.lsl:before           { font-family: file-icons; content: "\e98b"; }
.icon.lua:before           { font-family: file-icons; content: "\e91b"; }
.icon.mako:before          { font-family: file-icons; content: "\e98f"; }
.icon.mapbox:before        { font-family: file-icons; content: "\e941"; }
.icon.marko:before         { font-family: file-icons; content: "\e920"; }
.icon.mathematica:before   { font-family: file-icons; content: "\e990"; }
.icon.mathjax:before       { font-family: file-icons; content: "\ea06"; }
.icon.matlab:before        { font-family: file-icons; content: "\e991"; }
.icon.max:before           { font-family: file-icons; content: "\e993"; }
.icon.maxscript:before     { font-family: file-icons; content: "\e900"; }
.icon.maya:before          { font-family: file-icons; content: "\e9f6"; }
.icon.manpage:before       { font-family: file-icons; content: "\e936"; }
.icon.mediawiki:before     { font-family: file-icons; content: "\e954"; }
.icon.mercury:before       { font-family: file-icons; content: "\e994"; }
.icon.metal:before         { font-family: file-icons; content: "M";     }
.icon.meteor:before        { font-family: file-icons; content: "\e6a5"; }
.icon.minecraft:before     { font-family: file-icons; content: "\e9dc"; }
.icon.mirah:before         { font-family: file-icons; content: "\e995"; }
.icon.mocha:before         { font-family: file-icons; content: "\26fe"; }
.icon.model:before         { font-family: file-icons; content: "\e9e8"; }
.icon.modula2:before       { font-family: file-icons; content: "\e996"; }
.icon.monkey:before        { font-family: file-icons; content: "\e997"; }
.icon.mruby:before         { font-family: file-icons; content: "\ea18"; }
.icon.mupad:before         { font-family: file-icons; content: "\e9ca"; }
.icon.mustache:before      { font-family: file-icons; content: "\e60f"; }
.icon.nant:before          { font-family: file-icons; content: "\e9e1"; }
.icon.neko:before          { font-family: file-icons; content: "\ea05"; }
.icon.netlogo:before       { font-family: file-icons; content: "\e99c"; }
.icon.newrelic:before      { font-family: file-icons; content: "\e9d7"; }
.icon.nginx:before         { font-family: file-icons; content:"\f146b"; }
.icon.nib:before           { font-family: file-icons; content: "\2712"; }
.icon.nimrod:before        { font-family: file-icons; content: "\e998"; }
.icon.nit:before           { font-family: file-icons; content: "\e999"; }
.icon.nix:before           { font-family: file-icons; content: "\e99a"; }
.icon.nmap:before          { font-family: file-icons; content: "\e94d"; }
.icon.nodemon:before       { font-family: file-icons; content: "\ea26"; }
.icon.normalize:before     { font-family: file-icons; content: "\ea04"; }
.icon.npm:before           { font-family: file-icons; content: "\e91c"; }
.icon.nsis:before          { font-family: file-icons; content: "\ea1e"; }
.icon.numpy:before         { font-family: file-icons; content: "\e99d"; }
.icon.nuget:before         { font-family: file-icons; content: "\e9d9"; }
.icon.nunjucks:before      { font-family: file-icons; content: "\e953"; }
.icon.nvidia:before        { font-family: file-icons; content: "\e95d"; }
.icon.objj:before          { font-family: file-icons; content: "\e99e"; }
.icon.ocaml:before         { font-family: file-icons; content: "\e91a"; }
.icon.onenote:before       { font-family: file-icons; content: "\e9eb"; }
.icon.ooc:before           { font-family: file-icons; content: "\e9cb"; }
.icon.opa:before           { font-family: file-icons; content: "\2601"; }
.icon.opencl:before        { font-family: file-icons; content: "\e99f"; }
.icon.openoffice:before    { font-family: file-icons; content: "\e9e4"; }
.icon.org:before           { font-family: file-icons; content: "\e917"; }
.icon.owl:before           { font-family: file-icons; content: "\e957"; }
.icon.ox:before            { font-family: file-icons; content: "\e9a1"; }
.icon.oxygene:before       { font-family: file-icons; content: "\e9bf"; }
.icon.oz:before            { font-family: file-icons; content: "\e9be"; }
.icon.pan:before           { font-family: file-icons; content: "\e9bd"; }
.icon.papyrus:before       { font-family: file-icons; content: "\e9bc"; }
.icon.parrot:before        { font-family: file-icons; content: "\e9bb"; }
.icon.pascal:before        { font-family: file-icons; content: "\e92a"; }
.icon.patch:before         { font-family: file-icons; content: "\e961"; }
.icon.pawn:before          { font-family: file-icons; content: "\265f"; }
.icon.perl6:before         { font-family: file-icons; content: "\e96c"; }
.icon.phalcon:before       { font-family: file-icons; content: "\e94a"; }
.icon.php:before           { font-family: file-icons; content: "\f147"; }
.icon.pickle:before        { font-family: file-icons; content: "\e9c4"; }
.icon.pike:before          { font-family: file-icons; content: "\e9b9"; }
.icon.pogo:before          { font-family: file-icons; content: "\e9b8"; }
.icon.pony:before          { font-family: file-icons; content: "\e9b7"; }
.icon.pointwise:before     { font-family: file-icons; content: "\e977"; }
.icon.postcss:before       { font-family: file-icons; content: "\e910"; }
.icon.postscript:before    { font-family: file-icons; content: "\e955"; }
.icon.povray:before        { font-family: file-icons; content: "P";     }
.icon.powerbuilder:before  { font-family: file-icons; content: "\ea14"; }
.icon.powerpoint:before    { font-family: file-icons; content: "\e9ec"; }
.icon.powershell:before    { font-family: file-icons; content: "\e9da"; }
.icon.premiere:before      { font-family: file-icons; content: "\e9f5"; }
.icon.processing:before    { font-family: file-icons; content: "\e9a0"; }
.icon.progress:before      { font-family: file-icons; content: "\e9c0"; }
.icon.propeller:before     { font-family: file-icons; content: "\e9b5"; }
.icon.protractor:before    { font-family: file-icons; content: "\e9de"; }
.icon.psd:before           { font-family: file-icons; content: "\e6b8"; }
.icon.pug:before           { font-family: file-icons; content: "\ea13"; }
.icon.pug-alt:before       { font-family: file-icons; content: "\e9d0"; }
.icon.puppet:before        { font-family: file-icons; content: "\f0c3"; }
.icon.purebasic:before     { font-family: file-icons; content: "\01b5"; }
.icon.purescript:before    { font-family: file-icons; content: "\e9b2"; }
.icon.r:before             { font-family: file-icons; content: "\e905"; }
.icon.racket:before        { font-family: file-icons; content: "\e9b1"; }
.icon.raml:before          { font-family: file-icons; content: "\e913"; }
.icon.rascal:before        { font-family: file-icons; content: "\ea24"; }
.icon.rdoc:before          { font-family: file-icons; content: "\e9b0"; }
.icon.react:before         { font-family: file-icons; content: "\f100"; }
.icon.rebol:before         { font-family: file-icons; content: "\e9ae"; }
.icon.reason:before        { font-family: file-icons; content: "\ea1d"; }
.icon.red:before           { font-family: file-icons; content: "\e9ad"; }
.icon.regex:before         { font-family: file-icons; content: "*";     }
.icon.rexx:before          { font-family: file-icons; content: "\ea16"; }
.icon.riot:before          { font-family: file-icons; content: "\e919"; }
.icon.robot:before         { font-family: file-icons; content: "\e9ac"; }
.icon.rollup:before        { font-family: file-icons; content: "\ea20"; }
.icon.rst:before           { font-family: file-icons; content: "\e9cc"; }
.icon.sage:before          { font-family: file-icons; content: "\e9ab"; }
.icon.saltstack:before     { font-family: file-icons; content: "\e915"; }
.icon.sas:before           { font-family: file-icons; content: "\e95a"; }
.icon.sbt:before           { font-family: file-icons; content: "\e9d2"; }
.icon.scd:before           { font-family: file-icons; content: "\e9a2"; }
.icon.scad:before          { font-family: file-icons; content: "\e911"; }
.icon.scheme:before        { font-family: file-icons; content: "\03bb"; }
.icon.scilab:before        { font-family: file-icons; content: "\e9a9"; }
.icon.scrutinizer:before   { font-family: file-icons; content: "\e9d4"; }
.icon.self:before          { font-family: file-icons; content: "\e9a8"; }
.icon.sf:before            { font-family: file-icons; content: "\e9db"; }
.icon.shen:before          { font-family: file-icons; content: "\e9a7"; }
.icon.shopify:before       { font-family: file-icons; content: "\e9cf"; }
.icon.shuriken:before      { font-family: file-icons; content: "\272b"; }
.icon.sigils:before        { font-family: file-icons; content: "\1f764";}
.icon.silverstripe:before  { font-family: file-icons; content: "\e800"; }
.icon.sketch:before        { font-family: file-icons; content: "\e927"; }
.icon.slash:before         { font-family: file-icons; content: "\e9a6"; }
.icon.snyk:before          { font-family: file-icons; content: "\ea1c"; }
.icon.sparql:before        { font-family: file-icons; content: "\e959"; }
.icon.sqf:before           { font-family: file-icons; content: "\e9a5"; }
.icon.sqlite:before        { font-family: file-icons; content: "\e9dd"; }
.icon.stan:before          { font-family: file-icons; content: "\e9a4"; }
.icon.stata:before         { font-family: file-icons; content: "\e9a3"; }
.icon.storyist:before      { font-family: file-icons; content: "\e9ef"; }
.icon.strings:before       { font-family: file-icons; content: "\e9e0"; }
.icon.stylelint:before     { font-family: file-icons; content: "\e93d"; }
.icon.stylus:before        { font-family: file-icons; content: "s";     }
.icon.sublime:before       { font-family: file-icons; content: "\e986"; }
.icon.svn:before           { font-family: file-icons; content: "\ea17"; }
.icon.sysverilog:before    { font-family: file-icons; content: "\e9c3"; }
.icon.tag:before           { font-family: file-icons; content: "\f015"; }
.icon.tcl:before           { font-family: file-icons; content: "\e956"; }
.icon.terminal:before      { font-family: file-icons; content: "\f0c8"; }
.icon.tern:before          { font-family: file-icons; content: "\1f54a";}
.icon.terraform:before     { font-family: file-icons; content: "\e916"; }
.icon.tex:before           { font-family: file-icons; content: "\e600"; }
.icon.textile:before       { font-family: file-icons; content: "t";     }
.icon.textmate:before      { font-family: file-icons; content: "\2122"; }
.icon.thor:before          { font-family: file-icons; content: "\e9d8"; }
.icon.ts:before            { font-family: file-icons; content: "\2a6";  }
.icon.tsx:before           { font-family: file-icons; content: "\e9e7"; }
.icon.turing:before        { font-family: file-icons; content: "\e9b6"; }
.icon.txl:before           { font-family: file-icons; content: "\e9c1"; }
.icon.typedoc:before       { font-family: file-icons; content: "\e9fe"; }
.icon.typings:before       { font-family: file-icons; content: "\e9df"; }
.icon.uno:before           { font-family: file-icons; content: "\e9b3"; }
.icon.unreal:before        { font-family: file-icons; content: "u";     }
.icon.urweb:before         { font-family: file-icons; content: "\e9ba"; }
.icon.webpack:before       { font-family: file-icons; content: "\e91e"; }
.icon.wercker:before       { font-family: file-icons; content: "\ea19"; }
.icon.word:before          { font-family: file-icons; content: "\e9ed"; }
.icon.v8:before            { font-family: file-icons; content: "\ea1f"; }
.icon.vagrant:before       { font-family: file-icons; content: "V";     }
.icon.varnish:before       { font-family: file-icons; content: "\e9b4"; }
.icon.verilog:before       { font-family: file-icons; content: "\e949"; }
.icon.vhdl:before          { font-family: file-icons; content: "\e9aa"; }
.icon.video:before         { font-family: file-icons; content: "\f057"; }
.icon.vue:before           { font-family: file-icons; content: "\e906"; }
.icon.x10:before           { font-family: file-icons; content: "\2169"; }
.icon.xmos:before          { font-family: file-icons; content: "X";     }
.icon.xojo:before          { font-family: file-icons; content: "\e9af"; }
.icon.xpages:before        { font-family: file-icons; content: "\e9c5"; }
.icon.xtend:before         { font-family: file-icons; content: "\e9c6"; }
.icon.yang:before          { font-family: file-icons; content: "\262f"; }
.icon.yarn:before          { font-family: file-icons; content: "\ea1a"; }
.icon.yui:before           { font-family: file-icons; content: "\ea00"; }
.icon.zbrush:before        { font-family: file-icons; content: "\e9f2"; }
.icon.zephir:before        { font-family: file-icons; content: "\e9c7"; }
.icon.zimpl:before         { font-family: file-icons; content: "\e9c8"; }
    