/*
 0000000  000   000  000   000  000000000   0000000   000   000
000        000 000   0000  000     000     000   000   000 000
0000000     00000    000 0 000     000     000000000    00000
     000     000     000  0000     000     000   000   000 000
0000000      000     000   000     000     000   000  000   000
*/
// 0000000    00000000   000   0000000   000   000  000000000
// 000   000  000   000  000  000        000   000     000
// 0000000    0000000    000  000  0000  000000000     000
// 000   000  000   000  000  000   000  000   000     000
// 0000000    000   000  000   0000000   000   000     000

// #eee #ddd #ccc #bbb #aaa #666 #333 #222
// #0f0 #0d0 #0b0 #0a0 #090 #080 #060     
// #00f #00c #00a #008 #006               
// #ccf #88f #66f #55f #44f               
// #f00 #c00 #a00 #800 #600               
// #fa0 #f80 #a80 #880 #a32               
// #f0f #c0c #a0a #808 #606               
// #aaf #c0f #80f #80c                    
// #f08 #2aa #a8a #48a                    

.syntax
    color           #888

.browserRow.array
    color           #666
.browserRow .arrayIndex
    color           #ddd
    font-size       12px
.browserRow .arrayDot
    color           #eee

.invisible
    color           #aaa
    opacity         0.5

.bool
.true
    color           #88f
.false
    color           #44f

.nil
.value
    color           #808

.dictionary
    color           #880

.array
    color           #00f

.obj
.owner
.callee
.class
    color           #800

.variable
    color           #a0a

.range
    color           #80f

.require
    color           #0f0

.this
.marker
    opacity         0.6

.module
    color           #a80

.property
    opacity         0.8
    color           #a32

.elem
.namespace
    color           #48a
    &.member
        color       #f80

.number
.int
    color           #66f
.float
    color           #606
     
.dictionary.key.marker
    color           #88f
    opacity         1
    
// 00000000  000   000  000   000   0000000
// 000       000   000  0000  000  000
// 000000    000   000  000 0 000  000
// 000       000   000  000  0000  000
// 000        0000000   000   000   0000000

.func
.function
    color           #00c
    &.call
        color       #d00
    &.marker
        color       #55f
        opacity     1
    &.bracket
        color       #55f
    &.argument
        color       #aaf
        &.punctuation
            opacity  0.5

    &.marker.head
    &.marker.tail
        color       transparent
        
    &.marker.tail::before
        border-color        #88f
    &.marker.head::before
        border-left-color   #88f
        
    &.marker.tail.bound::before
        border-color        #f40
    &.marker.head.bound::before
        border-left-color   #f40
            
// 00     00  00000000  000000000  000   000   0000000   0000000
// 000   000  000          000     000   000  000   000  000   000
// 000000000  0000000      000     000000000  000   000  000   000
// 000 0 000  000          000     000   000  000   000  000   000
// 000   000  00000000     000     000   000   0000000   0000000

.class.function
.method
    color           #008
    &.call
        color       #d00
    &.definition
    &.template
        color       #2aa

.template
    color           #2aa

.operator
    color           #a80
    &.negate
        color       #600

//  0000000  000       0000000    0000000   0000000
// 000       000      000   000  000       000
// 000       000      000000000  0000000   0000000
// 000       000      000   000       000       000
//  0000000  0000000  000   000  0000000   0000000

.class
    &.variable
        color       #a0a
    &.static
        color       #c0c

.static.class.marker
    color           #ccf
    opacity         1

.keypath
    color           #c00

.syntax.cond
.keyword
    color           #66f !important
    &.null
        color       #a00 !important

// 00     00   0000000    0000000  00000000    0000000
// 000   000  000   000  000       000   000  000   000
// 000000000  000000000  000       0000000    000   000
// 000 0 000  000   000  000       000   000  000   000
// 000   000  000   000   0000000  000   000   0000000

.macro
    color           #c0f
    &.define
        color       #80c
    &.call
        color       #f0f
    &.argument
        color       #a8a

.variable.err
    color           #f08

.syntax.exists
    opacity         0.7

//  0000000  000000000  00000000   000  000   000   0000000   
// 000          000     000   000  000  0000  000  000        
// 0000000      000     0000000    000  000 0 000  000  0000  
//      000     000     000   000  000  000  0000  000   000  
// 0000000      000     000   000  000  000   000   0000000   

.string
    &.single
        color       #0b0 !important
    &.double
    &.triple
        color       #090 !important

.interpolation.marker
        color       #0d0

.interpolation.marker
.string.marker
    opacity   0.7


//  0000000   0000000   00     00  00     00  00000000  000   000  000000000
// 000       000   000  000   000  000   000  000       0000  000     000
// 000       000   000  000000000  000000000  0000000   000 0 000     000
// 000       000   000  000 0 000  000 0 000  000       000  0000     000
//  0000000   0000000   000   000  000   000  00000000  000   000     000

.comment
.comment.string
.comment.string.double
    color               #ccc !important

.comment.header
    color               #ddd !important
    background          #ddd
    border-left-color   #ccc
    border-bottom-color #bbb

.comment.header.minimap
    color               #999 !important
    opacity             1

.comment.triple.header
    color               #ccf !important
    background          #ccf
    border-left-color   #aaf
    border-bottom-color #88f

.comment.triple.header.minimap
    color               #88f !important
    
.header.marker.minimap
    color               #222 !important

// 00000000   00000000   0000000   000   000  000  00000000   00000000
// 000   000  000       000   000  000   000  000  000   000  000
// 0000000    0000000   000 00 00  000   000  000  0000000    0000000
// 000   000  000       000 0000   000   000  000  000   000  000
// 000   000  00000000   00000 00   0000000   000  000   000  00000000

.require
    &.variable
        color       #080
    &.string
        color       #0a0
    &.keyword.require
        color       #666
    &.syntax
        opacity     0.5

// 000000000  00000000   0000000  000000000
//    000     000       000          000
//    000     0000000   0000000      000
//    000     000            000     000
//    000     00000000  0000000      000

.test
    color           #ccf
.test-suite
    color           #88f
.test-fail
    color           #f00
.test-error
    color           #fa0
.test-pass
    color           #0a0

// 00     00  0000000
// 000   000  000   000
// 000000000  000   000
// 000 0 000  000   000
// 000   000  0000000

.markdown
    &.h1
        color       #00c
    &.h2
        color       #00a
    &.h3
        color       #008
    &.h4
        color       #006
    &.h5
        color       #060
    &.li1
        color       transparent
    &.li1::before
        color       #080
    &.li2
        color       transparent
    &.li2::before
        color       #090
    &.li3
        color       transparent
    &.li3::before
        color       #0a0
    &.bold
        color        #000
        font-weight  bold
        &.marker
            opacity 0.3

    &.code
        color       #88f
    &.italic
        font-style  italic
        
.found
    text-decoration  underline
