//  0000000  000   000  000   000  000000000   0000000   000   000
// 000        000 000   0000  000     000     000   000   000 000 
// 0000000     00000    000 0 000     000     000000000    00000  
//      000     000     000  0000     000     000   000   000 000 
// 0000000      000     000   000     000     000   000  000   000

.syntax
    color           #333

.browserRow.array
    color           #666
.browserRow .arrayIndex
    color           #ddd
    font-size       12px
.browserRow .arrayDot
    color           #eee

.invisible
    color           #aaa
    opacity         0.5

.bool
.true    
    color           #88f
.false      
    color           #44f

.number
.int    
    color           #66f
.float   
    color           #606

.nil
.value
    color           #808

.dictionary
    color           #880

.array
    color           #00f

.obj
.owner
.callee
.class
    color           #800
            
.variable
    color           #a0a

.range
    color           #80f
    
.require    
    color           #0f0

.this
    opacity         0.6
        
.marker
    opacity         0.5

.module
    color           #a80
        
.property
    opacity         0.8
    color           #a32

.elem
.namespace
    color           #48a
    &.member
        color       #f80

// 00000000  000   000  000   000   0000000  
// 000       000   000  0000  000  000       
// 000000    000   000  000 0 000  000       
// 000       000   000  000  0000  000       
// 000        0000000   000   000   0000000  

.func    
.function
    color           #c00
    &.call          
        color       #f00
    &.marker
        color       #55f
        opacity     1
        &.bound
            color   #66f
    &.bracket
        color       #55f
    &.argument
        color       #aaf
        &.punctuation
            opacity  0.5

// 00     00  00000000  000000000  000   000   0000000   0000000    
// 000   000  000          000     000   000  000   000  000   000  
// 000000000  0000000      000     000000000  000   000  000   000  
// 000 0 000  000          000     000   000  000   000  000   000  
// 000   000  00000000     000     000   000   0000000   0000000  

.class.function
.method
    color           #800
    &.call          
        color       #a80
    &.definition
    &.template
        color       #2aa

.template
    color           #2aa
    
.operator
    color           #a80
    &.negate
        color       #400

//  0000000  000       0000000    0000000   0000000  
// 000       000      000   000  000       000       
// 000       000      000000000  0000000   0000000   
// 000       000      000   000       000       000  
//  0000000  0000000  000   000  0000000   0000000   

.class
    &.variable
        color       #a0a
    &.static
        color       #c0c

.static.class.marker
    color           #ccf
    opacity         1
       
.keypath
    color           #c00

.syntax.cond
.keyword
    color           #66f !important
    &.null    
        color       #a00 !important

// 00     00   0000000    0000000  00000000    0000000   
// 000   000  000   000  000       000   000  000   000  
// 000000000  000000000  000       0000000    000   000  
// 000 0 000  000   000  000       000   000  000   000  
// 000   000  000   000   0000000  000   000   0000000   

.macro
    color           #c0f
    &.define
        color       #80c
    &.call
        color       #f0f
    &.argument
        color       #a8a

.interpolation.marker
        color       #0d0

.variable.err        
    color           #f08

.syntax.exists     
    opacity         0.7

.string
    color           #090 !important
    &.double
        color       #0b0 !important
        
//  0000000   0000000   00     00  00     00  00000000  000   000  000000000  
// 000       000   000  000   000  000   000  000       0000  000     000     
// 000       000   000  000000000  000000000  0000000   000 0 000     000     
// 000       000   000  000 0 000  000 0 000  000       000  0000     000     
//  0000000   0000000   000   000  000   000  00000000  000   000     000     

.comment
.comment.string
.comment.string.double
    color           #ccc !important

.comment.header
    color           rgba(210,210,210,1) !important
    background      rgba(150,150,150,0.5)
    border-radius   5px
    
.comment.header.minimap
    color           #aaa !important
    opacity         1
    
.header.marker.minimap
    color           #222 !important
            
// 00000000   00000000   0000000   000   000  000  00000000   00000000  
// 000   000  000       000   000  000   000  000  000   000  000       
// 0000000    0000000   000 00 00  000   000  000  0000000    0000000   
// 000   000  000       000 0000   000   000  000  000   000  000       
// 000   000  00000000   00000 00   0000000   000  000   000  00000000  

.require
    &.variable
        color       #080
    &.string 
        color       #0a0
    &.keyword.require 
        color       #666
    &.syntax
        opacity     0.5

// 000000000  00000000   0000000  000000000  
//    000     000       000          000     
//    000     0000000   0000000      000     
//    000     000            000     000     
//    000     00000000  0000000      000     

.test
    color           #ccf
.test-suite
    color           #88f
.test-fail
    color           #f00
.test-error
    color           #fa0
.test-pass
    color           #0a0

// 00     00  0000000  
// 000   000  000   000
// 000000000  000   000
// 000 0 000  000   000
// 000   000  0000000  
 
.md
    &.h1
        color       #00c
    &.h2
        color       #00a
    &.h3
        color       #008
    &.h4
        color       #006
    &.h5
        color       #060
    &.li1
        color       #080
    &.li2
        color       #090
    &.li3
        color       #0a0
    &.bold
        color        #000
        font-weight  bold
        
.found
    text-decoration  underline
