doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title ko
        link(rel='stylesheet' href='css/style.css' type='text/css')
    body
        #main
            .titlebar
            .area
                .split
                    .pane.top
                        .rel
                            #scroll                             
                    .handle.top
                    .commandline
                        span.commandline-command
                        span.commandline-span
                            .commandline-editor(tabindex="1")
                    .handle.edit
                    .pane.edit
                        .rel
                            .editor(tabindex="0")
                            svg.minimap
                            //- .scrollbar.left
                            //-     .scrollhandle.left
                    .handle.log
                    .pane.log
                        .rel
                            .logview(tabindex="2")
                            svg.minimap
                            //- .scrollbar.left
                            //-     .scrollhandle.left
    script.
        require('./js/window.js')

