
@font-face
{
    font-family: titlebarFont;
    font-weight: normal;
    font-style: normal;
    src: url("../../../Contents/Resources/font/Bahnschrift.woff");
}

@font-face
{
    font-family: fontMono;
    font-weight: normal;
    font-style: normal;
    src: url("../../../Contents/Resources/font/MesloLGS-NF-Regular.woff2");
}

@font-face
{
    font-family: fontNerd;
    font-weight: normal;
    font-style: normal;
    src: url("../../../Contents/Resources/font/MesloLGS-NF-Regular.woff2");
}

@font-face
{
    font-family: fontLigature;
    font-weight: normal;
    font-style: normal;
    src: url("../../../Contents/Resources/font/Lilex-Bold.woff2");
}

pre
{
    margin: 0;
}

body
{
    overflow: hidden;
}

@keyframes fadein
{
   from
   {
    opacity: 0;
   }

   to
   {
    opacity: 1;
   }

}

#titlebar .winicon img
{
    opacity: 0.6;
    padding-top: 4px;
    padding-left: 20px;
    padding-right: 14px;
}

#titlebar .winbutton
{
    flex: 0 0 44px;
}

.menu
{
    padding-right: 10px;
}

#main
{
    overflow: hidden;
    animation: fadein 2.0s;
}

#split
{
    position: relative;
    overflow: hidden;
    width: 100%;
}

.browser
{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.browserColumn
{
    border-top: 4px        solid;
    position: relative;
}

.browserColumnContent
{
    position: absolute;
    width: 100%;
    bottom: 0px;
    top: 25px;
}

.browserColumnCode
{
    font-family: fontMono;
    font-size: 16px;
}

.browserColumnTable
{
    overflow: hidden;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 3px;
    padding-bottom: 1px;
    box-sizing: border-box;
}

.browserRow
{
    height: 21px;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: -3px;
    padding-bottom: 3px;
    white-space: nowrap;
    cursor: pointer;
}


.browserRow .git-changed-icon,
.browserRow .git-dirs-icon
{
    padding-top: 1px;
}

.browserColumnCode
{
}

.browserColumnCode .browserRow
{
    height: 19px;
}

.rowNameInput
{
    font-family: fontMono;
    font-size: 15px;
    border: none;
    white-space: nowrap;
    position: absolute;
    left: 30px;
    right: 30px;
}

.browserSearch
{
    padding-right: 12px;
    float: right;
}

.browserFileIcon
{
    text-align: left;
    display: inline-block;
    width: 24px;
    opacity: 0.5;
}

.openFileIcon
{
    display: inline-block;
    width: 24px;
    margin-top: -3px;
}

.browserStatusIcon
{
    text-align: right;
    display: inline-block;
    width: 24px;
    opacity: 0.5;
    position: absolute;
    right: 6px;
    pointer-events: none;
}

.tabStatusIcon
{
    position: absolute;
    right: 8px;
    pointer-events: none;
}

.browserImageInfo
{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.browserImageContainer
{
    position: relative;
    flex: 1 1 0px;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: auto;
}

.browserImageDiv
{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.browserImage
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    border: 1px solid;
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
    background-size: 12px 12px;
    background-position: 0 0, 0 6px, 6px -6px, -6px 0px;
}

.imageInfoData
{
    flex: 0 0 100px;
    max-height: 100px;
    min-height: 100px;
    width: 100%;
    margin: auto;
    font-size: 16px;
    line-height: 0.7;
    border-spacing: 0px;
}

.imageInfoData th
{
    width: 50%;
    padding: 0px;
    border-collapse: collapse;
}

.imageInfoData td
{
    width: 50%;
    padding-left: 6px;
    border-collapse: collapse;
}

.imageInfoSpacer
{
    flex: 0.1 2 0;
}

.fileRow
{
    max-width: 90%;
    text-align: center;
    overflow-x: auto;
}

.dataRow
{
    height: 18px;
}

.dataRow th
{
    text-align: right;
}

.dataRow td
{
    text-align: left;
}

.browserFileInfo
{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 4px;
    text-align: center;
    align-items: center;
}

.fileInfoSpacer
{
    flex: 1 1 0;
}

.fileInfoIcon
{
    flex: 0.1 1 13vh;
}

.fileInfoIcon:before
{
    font-size: 13vh;
}

.fileInfoFile
{
    padding-top: 8px;
    flex: 0 0 50px;
    display: block;
    font-size: 28px;
}

.fileInfoData
{
    flex: 0 0 0;
    margin: auto;
    font-size: 16px;
    border-spacing: 0px;
    line-height: 0.7;
}

.fileInfoData th
{
    width: 50%;
    text-align: right;
    padding: 0px;
    border-collapse: collapse;
}

.fileInfoData td
{
    width: 50%;
    padding-left: 6px;
    text-align: left;
    border-collapse: collapse;
}

.dragIndicator
{
    height: 20px;
}

.dragIndicator.copy
{
    margin-left: 10px;
    margin-top: -4px;
    margin-bottom: 4px;
}

.dragIndicator.copy:before
{
    font-size: 20px;
    color: #ff0;
    content: '✚';
}

.dragIndicator.move
{
    margin-left: 2px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.dragIndicator.move:before
{
    font-size: 40px;
    color: #0f0;
    content: '▾';
}

.git-changed-icon:before
{
    font-family: FontAwesomeSolid;
    content: '\f304';
}

.git-added-icon:before
{
    font-family: FontAwesome;
    content: '\f067';
}

.git-dirs-icon:before
{
    font-family: FontAwesomeSolid;
    content: '\f14b';
}

.history-icon:before
{
    font-family: FontAwesome;
    content: '\f141';
}

.unsaved-icon:before
{
    font-family: FontAwesomeSolid;
    content: '\f0c7';
}

.terminal-icon:before
{
    font-family: FontAwesomeSolid;
    content: '\f107';
}

.editor-icon:before
{
    font-family: FontAwesomeSolid;
    content: '\f106';
}

.file-icon:before
{
    font-family: octicons;
    content: '\f011';
}

.folder-icon:before
{
    font-family: octicons;
    content: '\f016';
}

.lock-icon:before
{
    font-family: FontAwesomeSolid;
    content: '\f023';
}

.temp-icon:before
{
    font-family: FontAwesomeSolid;
    content: '\f039';
}

.tab-temp
{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    display: inline-block;
}

.tab-lock
{
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 6px;
    display: inline-block;
}

.inline
{
    display: inline-block;
}

.crumb
{
    font-size: 15px;
    padding-top: 2px;
    position: absolute;
    text-align: center;
    cursor: pointer;
    position: absolute;
    overflow-x: scroll;
    overflow-y: hidden;
    left: 0;
    right: 0;
    top: 0;
    display: block;
    white-space: nowrap;
    height: 25px;
}

.crumb::-webkit-scrollbar
{
    height: 2px;
}

.crumb .path
{
    opacity: 0.5;
}

.crumb .punct
{
    padding: 0.2em;
    opacity: 0.2;
}

.crumb .dot
{
    padding-left: 10px;
    padding-right: 10px;
}

#shelf
{
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-right: 4px        solid;
}

#shelfResize
{
    background: transparent;
}

#commandline
{
    padding: 0;
    margin: 0;
    white-space: nowrap;
    display: flex;
}

.ko.shortcut
{
    opacity: 0.5;
}

.ko.command
{
    font-weight: bold;
}

#commandline-span
{
    position: relative;
    flex-grow: 1;
    white-space: nowrap;
}

#commandline-editor
{
    font-family: fontMono;
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    overflow-x: auto;
    overflow-y: hidden;
}

.cwd
{
    pointer-events: none;
    position: absolute;
    white-space: nowrap;
    font-size: 11px;
    font-weight: bold;
    font-family: fontMono;
    right: 142px;
    top: 0;
    height: 30px;
}

.commandlist
{
    position: absolute;
    left: 0;
    overflow: hidden;
    width: 800px;
}

.commandlist .linenumber
{
    padding-top: 0;
    margin-top: -2px;
}

#commandline-button
{
    font-family: fontMono;
    font-size: 24px;
    padding-top: 0px;
    padding-left: 9px;
    padding-right: 9px;
    cursor: pointer;
    min-width: 51px;
    box-sizing: border-box;
    white-space: nowrap;
}

#commandline-button.empty
{
    border-right: 1px solid;
}

.fps
{
    pointer-events: none;
    position: absolute;
    right: 131px;
    top: 0;
    width: 130px;
    height: 30px;
}

.fpsCanvas
{
    background-color: transparent;
}

#debugCtrl
{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    padding-left: 4px;
}

.ctrl
{
    display: inline-block;
    font-size: 22px;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 6px;
}

#info
{
    overflow: hidden;
    width: 130px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 1px;
    border-left: 1px solid;
    font-family: fontMono;
    font-size: 12px;
}

#info .info-line
{
    display: block;
}











.info-words,
.info-lines,
.info-funcs,
.info-files,
.info-sticky,
.info-classes,
.info-cursors,
.info-selections,
.info-highlights,
.info-cursor-line,
.info-cursor-column
{
    cursor: pointer;
    padding-left: 6px;
}

.info-words.empty,
.info-lines.empty,
.info-funcs.empty,
.info-files.empty,
.info-sticky.empty,
.info-classes.empty,
.info-cursors.empty,
.info-selections.empty,
.info-highlights.empty,
.info-cursor-line.empty,
.info-cursor-column.empty
{
    display: none;
}

.info-editor
{
    padding-top: 2px;
    font-size: 20px;
    position: absolute;
    right: 6px;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.unsaved-icon
{
    display: inline-block;
    padding-left: 6px;
    padding-right: 8px;
    padding-top: 5.5px;
}

.dot
{
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: -1px;
}

.tooltip
{
    white-space: nowrap;
    padding: 3px;
    padding-left: 4px;
    padding-right: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    top: 30px;
    font-size: 15px;
    font-family: titlebarFont;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top left;
    transition: transform 0.2s ease-in, opacity 0.2s ease-in;
    overflow: hidden;
}

.tooltip-path
{
    margin: 4px;
}

.tooltip-line
{
    margin-top: 2px;
    margin-left: 4px;
}

.tooltip-line *
{
    margin-right: 6px;
}

.tabs
{
    flex: 10 1 0;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    padding-top: 0;
    padding-right: 0;
    padding-left: 1px;
}

.tabs::-webkit-scrollbar
{
    height: 2px;
}

.tab
{
    flex: .15 .1 0;
    display: flex;
    position: relative;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-size: 15px;
    padding-left: 4px;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 15px;
    font-family: titlebarFont;
}



.tab:not(.active):not(.prj) .dot,
.tab:not(.active) .name,
.tab:not(.active) .tabstate
{
    opacity: 0.5;
}

.tab.prj
{
    flex: 0 0 0;
    padding-right: 12px;
}

.tab.prj .name
{
    padding-right: 6px;
}

.tab .name
{
    flex: 1 1 0;
}

.tab .name .dirty
{
    position: absolute;
    padding-left: 6px;
    transform: translateY(-1px);
}



.tab .name,
.tab .dot,
.tab .prjdot
{
    padding-top: 5px;
}

.tabstate
{
    flex: 0 0 30px;
    border-top-right-radius: 6px;
    stroke-width: 2;
    height: 30px;
    min-width: 15px;
    max-width: 30px;
}

.quickmenu
{
    flex: 0 1;
    display: inline-block;
    box-sizing: border-box;
    font-size: 24px;
    font-family: fontNerd;
}

.quickmenu-item
{
    height: 29.5px;
    width: 37.5px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
}

.quickmenu-item:active
{
    padding-top: 2px;
}

.popup .quickmenu-item
{
    width: 29.5px;
    padding-top: 3px;
}

.popup .quickmenu-item:active
{
    padding-top: 5px;
}

#browser
{
    font-family: titlebarFont;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    pointer-events: auto;
}

.kodeIcon
{
    padding-right: .35em;
    padding-left: .1em;
    overflow: hidden;
}

.kodeIcon svg
{
    transform: translateY(2px);
}


#terminal,
#editor
{
    position: relative;
    overflow: hidden;
}

#viewer
{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    overflow: scroll;
}

#viewer.active
{
    pointer-events: auto;
    background: #000;
    opacity: 1;
}

.viewerEmbed
{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    border: 10px solid #888;
}

.layerScroll
{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    overflow-x: auto;
    overflow-y: hidden;
}

.layerScroll::-webkit-scrollbar
{
    height: 2px;
}

.layers
{
    position: relative;
    height: 10000000px;
}

#commandline-editor .layers
{
    min-height: 30px;
}

#commandline-editor .layers::-webkit-scrollbar
{
    height: 2px;
}

.lines
{
    cursor: text;
    font-size: inherit;
    pointer-events: none;
}

.line
{
    font-size: inherit;
    white-space: nowrap;
    position: absolute;
}

.line span
{
    position: absolute;
    pointer-events: none;
}

.cursor
{
    width: 2px;
    margin-right: -1px;
    margin-left: -1px;
    z-index: 999999999;
    position: absolute;
    display: inline-block;
}

.cursor.main:not(.off)
{
    width: 4px;
    margin-right: -2px;
    margin-left: -2px;
    border-radius: 2px;
}

.cursor-line
{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

.numbers
{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    pointer-events: none;
    font-size: 13px;
    font-family: fontMono;
}

.linenumber
{
    width: 50px;
    border-right: 1px solid;
    position: absolute;
}

.linenumber span
{
    display: inline-block;
    width: 42px;
    text-align: right;
    padding-top: 2px;
}

.linenumber span.gitInfoLine
{
    font-size: 16px;
}

.meta
{
    position: absolute;
    pointer-events: auto;
}





.meta.coffeeResult,
.meta.searchResult,
.meta.termResult,
.meta.termCommand,
.meta.coffeeCommand
{
    padding-right: 0.15em;
    margin-right: -0.15em;
    margin-left: -58px;
    padding-left: 58px;
    border-top-right-radius: 0.15em;
    border-bottom-right-radius: 0.15em;
}


.meta.gitInfoChange,
.meta.gitInfoAdded
{
    cursor: pointer;
    border-radius: 0.15em;
    padding-right: 0.44999999999999996em;
}

.meta.gitInfoDelete
{
    border-radius: 0.15em;
    padding-right: 0.44999999999999996em;
    margin-left: -4px;
    padding-right: 8px;
}





.meta.gitInfoFile,
.meta.clippoResult,
.meta.termCommand,
.meta.coffeeCommand,
.meta.searchResult
{
    cursor: pointer;
    margin-left: -4px;
}

.meta.searchResult
{
    padding-right: 10000px;
}




.meta.coffeeResult,
.meta.searchResult,
.meta.termResult,
.meta.spacer
{
    background: transparent;
}

.meta.spacer
{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.meta.git
{
    width: 50px;
}

.meta.git.toggled
{
    opacity: 1;
}

.meta.dbg
{
    z-index: 1;
    border-radius: 6px;
    margin-top: 3px;
    margin-left: 4px;
    width: 12px;
    height: 12px;
}

.meta.dbg.pointer
{
    z-index: 2;
    width: 0;
    height: 0;
    border-radius: 0;
    margin-left: 10px;
    background: transparent;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid;
}

.meta.pigment
{
    opacity: 1;
    border-radius: 2px;
    margin-left: -8px;
    padding-left: 8px;
    padding-right: 8px;
}

.linenumber span .saveButton
{
    pointer-events: auto;
    cursor: pointer;
    width: initial;
    padding-top: 2px;
    margin-top: -2px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
}

.minimap
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 130px;
    overflow: hidden;
    cursor: pointer;
    border-left: 1px solid;
    pointer-events: auto;
}

.minimap canvas
{
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}

.topbot
{
    position: absolute;
    right: 0;
    width: 130px;
    pointer-events: none;
}

.minimapLines
{
    background-color: transparent;
    opacity: 0.8;
}



.minimapHighlights,
.minimapSelections,
.minimapCursors
{
    background-color: transparent;
}


.filelist,
.funclist
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 130px;
    min-width: 130px;
    max-width: 260px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 16px;
    border-bottom-left-radius: 6px;
    overflow: hidden;
    pointer-events: none;
}


.filelist-item,
.funclist-item
{
    white-space: nowrap;
    pointer-events: auto;
    padding-left: 10px;
    padding-right: 6px;
}

.highlight
{
    position: absolute;
    pointer-events: none;
}

.bracketmatch
{
    position: absolute;
    pointer-events: none;
    text-decoration: underline;
}

.stringmatch
{
    position: absolute;
    pointer-events: none;
    text-decoration: underline;
}

.selection
{
    position: absolute;
    pointer-events: none;
}

.selection .empty
{
    width: 1px;
    margin-right: -1px;
}


.selection,
.highlight
{
    padding-right: 0.15em;
    margin-right: -0.15em;
    padding-left: 0.15em;
    margin-left: -0.15em;
}

.selection.start,
.highlight.start
{
    padding-left: 58px;
    margin-left: -58px;
}

.comment.header
{
    border-radius: 0.3em;
    border-width: 0.15em;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: hidden;
    border-right-style: hidden;
    height: 1.2em;
}




.stringmatch,
.bracketmatch,
.selection,
.highlight
{
}

.stringmatch.tl,
.bracketmatch.tl,
.selection.tl,
.highlight.tl
{
    border-top-left-radius: 0.3em;
}

.highlight.tl.start
{
    border-top-left-radius: 0;
}

.stringmatch.bl,
.bracketmatch.bl,
.selection.bl,
.highlight.bl
{
    border-bottom-left-radius: 0.3em;
}

.highlight.bl.start
{
    border-bottom-left-radius: 0;
}

.stringmatch.tr,
.bracketmatch.tr,
.selection.tr,
.highlight.tr
{
    border-top-right-radius: 0.3em;
}

.stringmatch.br,
.bracketmatch.br,
.selection.br,
.highlight.br
{
    border-bottom-right-radius: 0.3em;
}


.stringmatch,
.bracketmatch
{
    padding-right: 0;
    margin-right: 0;
    padding-left: 0;
    margin-left: 0;
}

.list
{
    position: absolute;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 500px;
    max-height: 460px;
}

.list.commands
{
    width: 200px;
    max-height: 800px;
}

.list-item
{
    width: 100%;
    height: 20px;
    font-family: fontMono;
    font-size: 16px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    overflow-x: auto;
    overflow-y: hidden;
    cursor: pointer;
    white-space: nowrap;
    -webkit-user-select: none;
}

.list-item::-webkit-scrollbar
{
    height: 1px;
}

.autocomplete-span
{
    opacity: 1;
}

.autocomplete-list
{
    pointer-events: auto;
    position: absolute;
    max-height: 200px;
    width: auto;
    overflow-x: hidden;
    overflow-y: auto;
    left: 0;
    top: 100%;
}

.autocomplete-list::-webkit-scrollbar
{
    width: 4px;
}

.autocomplete-list::-webkit-scrollbar-thumb
{
    width: 2px;
}

.autocomplete-item
{
    pointer-events: auto;
    white-space: nowrap;
    width: 100%;
    display: block;
    padding-left: 5px;
    padding-right: 10px;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
}

.li1.marker:before
{
    content: '▸';
}

.li2.marker:before
{
    content: '▪';
}

.li3.marker:before
{
    content: '◆';
}

.ligature
{
    font-family: fontLigature;
    opacity: 1;
}

.scrollbar
{
    position: absolute;
    top: 0;
    cursor: ns-resize;
}

.scrollbar.left
{
    bottom: 0;
    left: 0;
    width: 12px;
}

.scrollbar.right
{
    right: 0;
    width: 10%;
    height: 100%;
}

.scrollhandle
{
    position: absolute;
    top: 0;
}

.scrollhandle.left
{
    left: 0;
}

.scrollhandle.right
{
    right: 0;
}


.commandlist::-webkit-scrollbar,
.commandlist .layerScroll::-webkit-scrollbar
{
        height: 8px;
}
