
// 00000000  000  000      00000000   0000000  
// 000       000  000      000       000       
// 000000    000  000      0000000   0000000   
// 000       000  000      000            000  
// 000       000  0000000  00000000  0000000   

// 0000000     0000000   00000000   000   000    
// 000   000  000   000  000   000  000  000     
// 000   000  000000000  0000000    0000000      
// 000   000  000   000  000   000  000  000     
// 0000000    000   000  000   000  000   000    

.dir
.directory
    color           #aaf
    font-weight     bold

.file
    color           #aaa

.cc            
.cpp
.coffee
    color           #ff0

.h
.hpp
.py
.noon
    color           #f80
        
.md
.txt
.image
    color           #0a0

.pic
    color           #0f0

.pug
.styl
    color           #0af

.js
.css
.json
.html
    color           #b4a

.sh
    color           #f00
    
.dirname 
    opacity         0.4
.extname
    opacity         0.3
.separator
    opacity         0.2
.marker
    opacity         0.4
    
.lock
.dotfile
    color           #666

.dir .dotfile
    color           #88e