
//  0000000  000   000  000   000  000000000   0000000   000   000
// 000        000 000   0000  000     000     000   000   000 000
// 0000000     00000    000 0 000     000     000000000    00000
//      000     000     000  0000     000     000   000   000 000
// 0000000      000     000   000     000     000   000  000   000

// 0000000     0000000   00000000   000   000
// 000   000  000   000  000   000  000  000
// 000   000  000000000  0000000    0000000
// 000   000  000   000  000   000  000  000
// 0000000    000   000  000   000  000   000

// #181818 #222 #333 #444 #4f4f4f #666 #aaa
// #f80 #fa0 #fd0 #ff0 #ff4 #ff8           
//#00f #55f #66f #88f #aaf #ccf            
// #040 #050 #060 #080 #0a0 #0f0           
// #808 #a0a #c0c #f0f #f8f #fcf           
// #a00 #d00 #f08 #48a                     

.syntax
    color           #666

.browserRow.array
    color           #aaa
.browserRow .arrayIndex
    color           #444
    font-size       12px
.browserRow .arrayDot
    color           #333

.invisible
    color           #181818
    &.trailing
        color       #d00
    // opacity         0.5

.bool
.true
    color           #88f
.false
    color           #d00

.number
.int
    color           #88f
.float
    color           #f08

.nil
    color           #808

.array
    color           #00f

.obj
.owner
.callee
.dictionary
.class
    color           #ff8

.variable
    color           #a0a

.range
    color           #66f

.require
    color           #0f0

.this
    opacity         0.6

.marker
    opacity         0.5

.module
    color           #ff8

.property
    opacity         0.8
    color           #8d8

.elem
.namespace
    color           #48a
    &.member
        color       #f80

.func
.function
    color           #fd0
    &.call
        color       #f80
    &.marker
        color       #55f
        opacity     1
        &.bound
            color   #66f
    &.bracket
        color       #55f
    &.argument
        color       #aaf
        &.punctuation
            opacity  0.5

.class.function
.method
    color           #ff8
    &.call
        color       #ff0
    &.definition
    &.template
        color       #48a

.template
    color           #48a

.operator
    color           #fa0
    &.negate
        color       #ff0

.class
    &.variable
        color       #fcf
    &.static
        color       #aaf

.static.class.marker
    color           #88f
    opacity         1

.keypath
    color           #f80

.syntax.cond
.keyword
    color           #aaf !important
    &.null
        color       #a00 !important

.macro
    color           #f0f
    &.define
        color       #c0c
    &.call
        color       #f0f
    &.argument
        color       #f8f

.interpolation.marker
        color       #f80

.variable.err
    color           #f08

.syntax.exists
    opacity         0.7

.string
    color           #0a0 !important
    &.double
        color       #0f0 !important

//  0000000   0000000   00     00  00     00  00000000  000   000  000000000
// 000       000   000  000   000  000   000  000       0000  000     000
// 000       000   000  000000000  000000000  0000000   000 0 000     000
// 000       000   000  000 0 000  000 0 000  000       000  0000     000
//  0000000   0000000   000   000  000   000  00000000  000   000     000

.comment
.comment.string
.comment.string.double
    color           #4f4f4f !important

.comment.header
    color           #040 !important
    background      #040
    border-radius   5px
    border-left     2px solid #060
    border-bottom   2px solid #050

.comment.header.minimap
    color           #0a0 !important
    opacity         1

.header.marker.minimap
    color           #222 !important

.require
    &.variable
        color       #0f0
    &.string
        color       #0a0
    &.keyword.require
        color       #666
    &.syntax
        opacity     0.5

// 000000000  00000000   0000000  000000000
//    000     000       000          000
//    000     0000000   0000000      000
//    000     000            000     000
//    000     00000000  0000000      000

.test
    color           #ccf
.test-suite
    color           #88f
.test-fail
    color           #ff0
.test-error
    color           #fa0
.test-pass
    color           #0a0

// 00     00  0000000
// 000   000  000   000
// 000000000  000   000
// 000 0 000  000   000
// 000   000  0000000

.md
    &.h1
        color       #ff0
    &.h2
        color       #ff4
    &.h3
        color       #ff8
    &.h4
        color       #aaf
    &.h5
        color       #88f
    &.li1
        color       #0f0
    &.li2
        color       #0a0
    &.li3
        color       #080
    &.bold
        color       #ff0

.found
    text-decoration  underline
