/*
 0000000  000000000  000   000  000
000          000      000 000   000
0000000      000       00000    000
     000     000        000     000
0000000      000        000     0000000
*/
pre {
  margin: 0;
}
* {
  outline-width: 0;
}
body {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  margin: 0;
  overflow: hidden;
  font-family: "MesloLGS Nerd Font Mono", "Meslo LG S", "Menlo", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Cousine", "Andale Mono", monospace;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
}
#main {
  animation: fadein 1s;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
}
#split {
  position: relative;
  overflow: hidden;
  border-left: 6px solid;
  border-right: 6px solid;
  border-bottom: 6px solid;
  box-sizing: border-box;
  width: 100%;
}
.browser {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.browserColumn {
  overflow: hidden;
  position: relative;
}
.browserColumnTable {
  display: table;
  width: 100%;
  height: 100%;
}
.browserRow {
  display: block;
  padding-left: 6px;
  padding-right: 6px;
  white-space: nowrap;
  cursor: pointer;
}
.browserRow .git {
  float: right;
  padding-top: 1px;
}
.rowNameInput {
  font-family: "MesloLGS Nerd Font Mono", "Meslo LG S", "Menlo", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Cousine", "Andale Mono", monospace;
  font-size: 15px;
  border: none;
  white-space: nowrap;
  position: absolute;
  left: 30px;
  right: 30px;
}
.browserSearch {
  padding-right: 12px;
  float: right;
}
.browserImageContainer {
  position: relative;
  padding-left: 6px;
}
.browserImage {
  max-width: 600px;
  max-height: 600px;
  border: 1px solid;
}
.browserFileIcon {
  text-align: left;
  display: inline-block;
  width: 24px;
  opacity: 0.5;
}
.openFileIcon {
  display: inline-block;
  width: 24px;
  margin-top: -3px;
}
.browserStatusIcon {
  text-align: right;
  display: inline-block;
  width: 24px;
  opacity: 0.5;
  position: absolute;
  right: 6px;
}
.git-changed-icon:before {
  font-family: FontAwesome;
  content: '\f040';
}
.git-added-icon:before {
  font-family: FontAwesome;
  content: '\f067';
}
.git-dirs-icon:before {
  font-family: FontAwesome;
  content: '\f044';
}
.history-icon:before {
  font-family: FontAwesome;
  content: '\f141';
}
.file-icon:before {
  font-family: octicons;
  content: '\f011';
}
.folder-icon:before {
  font-family: octicons;
  content: '\f016';
}
.noon-icon:before {
  font-family: Sans-Serif;
  content: 'ⓞ';
}
#shelf {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
#shelfResize {
  background: transparent;
}
#commandline {
  padding: 0;
  margin: 0;
  white-space: nowrap;
  display: flex;
}
.ko.shortcut {
  opacity: 0.5;
}
.ko.command {
  font-weight: bold;
}
#commandline-span {
  position: relative;
  flex-grow: 1;
  white-space: nowrap;
}
#commandline-editor {
  font-family: "MesloLGS Nerd Font Mono", "Meslo LG S", "Menlo", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Cousine", "Andale Mono", monospace;
  height: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  overflow-x: auto;
  overflow-y: hidden;
}
.cwd {
  pointer-events: none;
  position: absolute;
  white-space: nowrap;
  font-size: 22px;
  font-weight: bold;
  font-family: "MesloLGS Nerd Font Mono", "Meslo LG S", "Menlo", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Cousine", "Andale Mono", monospace;
  right: 142px;
  top: 0;
  height: 30px;
}
.commandlist {
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 800px;
}
.commandlist .linenumber {
  padding-top: 0;
  margin-top: -2px;
}
#commandline-button {
  font-family: "MesloLGS Nerd Font Mono", "Meslo LG S", "Menlo", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Cousine", "Andale Mono", monospace;
  font-size: 24px;
  padding-top: 0px;
  padding-left: 9px;
  padding-right: 9px;
  cursor: pointer;
  min-width: 51px;
  box-sizing: border-box;
  white-space: nowrap;
}
#commandline-button.empty {
  border-right: 1px solid;
}
.fps {
  pointer-events: none;
  position: absolute;
  right: 131px;
  top: 0;
  width: 130px;
  height: 30px;
}
.fpsCanvas {
  background-color: transparent;
}
#debugCtrl {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  padding-left: 4px;
}
.ctrl {
  display: inline-block;
  font-size: 22px;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 6px;
}
#info {
  overflow: hidden;
  width: 130px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 1px;
  border-left: 1px solid;
  font-family: "MesloLGS Nerd Font Mono", "Meslo LG S", "Menlo", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Cousine", "Andale Mono", monospace;
  font-size: 12px;
}
#info .info-line {
  display: block;
}
.info-words,
.info-lines,
.info-funcs,
.info-files,
.info-sticky,
.info-classes,
.info-cursors,
.info-selections,
.info-highlights,
.info-cursor-line,
.info-cursor-column {
  cursor: pointer;
  padding-left: 6px;
}
.info-words.empty,
.info-lines.empty,
.info-funcs.empty,
.info-files.empty,
.info-sticky.empty,
.info-classes.empty,
.info-cursors.empty,
.info-selections.empty,
.info-highlights.empty,
.info-cursor-line.empty,
.info-cursor-column.empty {
  display: none;
}
.dot {
  display: inline-block;
  vertical-align: middle;
  padding-left: 6px;
  padding-right: 6px;
  margin-top: -1px;
}
.pkg .dot {
  font-size: 12px;
}
.tooltip {
  white-space: nowrap;
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  position: absolute;
  top: 30px;
  font-size: 15px;
  font-family: Bahnschrift Light, Helvetica Neue, Ebrima, Varela Round, Helvetica, Arial;
  opacity: 0;
  transform: scaleY(0);
  transition: transform 0.2s ease-in, opacity 0.2s ease-in;
  overflow: hidden;
}
.tabs {
  flex: 10 1 0;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-app-region: no-drag;
}
.tabs::-webkit-scrollbar {
  height: 2px;
}
.tab {
  flex: 1 1 0;
  position: relative;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 15px;
  padding-left: 6px;
  padding-right: 12px;
  padding-top: 7px;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 15px;
  font-family: Bahnschrift Light, Helvetica Neue, Ebrima, Varela Round, Helvetica, Arial;
}
.tab:not(.active) {
  opacity: 0.5;
}
.tabdrag {
  -webkit-app-region: drag;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
}
#browser {
  position: relative;
  overflow: hidden;
  pointer-events: auto;
}
#terminal,
#editor {
  position: relative;
  overflow: hidden;
  font-family: "MesloLGS Nerd Font Mono", "Meslo LG S", "Menlo", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Cousine", "Andale Mono", monospace;
}
.layerScroll {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  overflow-x: visible;
  overflow-y: hidden;
}
.layerScroll::-webkit-scrollbar {
  height: 2px;
}
.layers {
  position: relative;
  height: 10000000px;
}
#commandline-editor .layers {
  min-height: 30px;
}
#commandline-editor .layers::-webkit-scrollbar {
  height: 2px;
}
.lines {
  cursor: text;
  font-size: inherit;
  pointer-events: none;
}
.line {
  font-size: inherit;
  white-space: nowrap;
  position: absolute;
}
.line span {
  position: absolute;
  pointer-events: none;
}
.cursor {
  width: 2px;
  margin-right: -1px;
  margin-left: -1px;
  z-index: 999999999;
  position: absolute;
  display: inline-block;
}
.cursor.main:not(.off) {
  width: 4px;
  margin-right: -2px;
  margin-left: -2px;
  border-radius: 2px;
}
.cursor-line {
  position: absolute;
  left: 0;
  top: 0;
}
.numbers {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  pointer-events: none;
  font-size: 13px;
  font-family: "MesloLGS Nerd Font Mono", "Meslo LG S", "Menlo", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Cousine", "Andale Mono", monospace;
}
.linenumber {
  width: 50px;
  border-right: 1px solid;
  position: absolute;
}
.linenumber span {
  display: inline-block;
  width: 42px;
  text-align: right;
  padding-top: 2px;
}
.linenumber span.gitInfoLine {
  font-size: 16px;
}
.meta {
  position: absolute;
  pointer-events: auto;
}
.meta.coffeeResult,
.meta.searchResult,
.meta.termResult,
.meta.termCommand,
.meta.coffeeCommand {
  padding-right: 0.15em;
  margin-right: -0.15em;
  margin-left: -58px;
  padding-left: 58px;
  border-top-right-radius: 0.15em;
  border-bottom-right-radius: 0.15em;
}
.meta.gitInfoChange {
  border-radius: 0.15em;
}
.meta.gitInfoFile,
.meta.termCommand,
.meta.coffeeCommand,
.meta.searchResult {
  cursor: pointer;
}
.meta.searchResult {
  padding-right: 10000px;
}
.meta.coffeeResult,
.meta.searchResult,
.meta.termResult,
.meta.spacer {
  background: transparent;
}
.meta.spacer {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.meta.git {
  width: 50px;
}
.meta.git.toggled {
  opacity: 1;
}
.meta.dbg {
  z-index: 1;
  border-radius: 6px;
  margin-top: 3px;
  margin-left: 4px;
  width: 12px;
  height: 12px;
}
.meta.dbg.pointer {
  z-index: 2;
  width: 0;
  height: 0;
  border-radius: 0;
  margin-left: 10px;
  background: transparent;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid;
}
.meta.pigment {
  opacity: 1;
  border-radius: 2px;
  margin-left: -8px;
  padding-left: 8px;
  padding-right: 8px;
}
.linenumber span .saveButton {
  pointer-events: auto;
  cursor: pointer;
  width: initial;
  padding-top: 2px;
  margin-top: -2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
}
.minimap {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 130px;
  overflow: hidden;
  cursor: pointer;
  border-left: 1px solid;
  pointer-events: auto;
}
.minimap canvas {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}
.topbot {
  position: absolute;
  right: 0;
  width: 130px;
  pointer-events: none;
}
.minimapLines {
  background-color: transparent;
  opacity: 0.8;
}
.minimapHighlights,
.minimapSelections,
.minimapCursors {
  background-color: transparent;
}
.highlight {
  position: absolute;
  pointer-events: none;
}
.bracketmatch {
  position: absolute;
  pointer-events: none;
  text-decoration: underline;
}
.stringmatch {
  position: absolute;
  pointer-events: none;
  text-decoration: underline;
}
.selection {
  position: absolute;
  pointer-events: none;
}
.selection .empty {
  width: 1px;
  margin-right: -1px;
}
.selection,
.highlight {
  padding-right: 0.15em;
  margin-right: -0.15em;
  padding-left: 0.15em;
  margin-left: -0.15em;
}
.selection.start,
.highlight.start {
  padding-left: 58px;
  margin-left: -58px;
}
.comment.header {
  border-radius: 0.3em;
  border-width: 0.15em;
  border-left-style: solid;
  border-bottom-style: solid;
  border-top-style: hidden;
  border-right-style: hidden;
  height: 1.2em;
}
.stringmatch.tl,
.bracketmatch.tl,
.selection.tl,
.highlight.tl {
  border-top-left-radius: 0.3em;
}
.stringmatch.tl.start,
.bracketmatch.tl.start,
.selection.tl.start,
.highlight.tl.start {
  border-top-left-radius: 0;
}
.stringmatch.bl,
.bracketmatch.bl,
.selection.bl,
.highlight.bl {
  border-bottom-left-radius: 0.3em;
}
.stringmatch.bl.start,
.bracketmatch.bl.start,
.selection.bl.start,
.highlight.bl.start {
  border-bottom-left-radius: 0;
}
.stringmatch.tr,
.bracketmatch.tr,
.selection.tr,
.highlight.tr {
  border-top-right-radius: 0.3em;
}
.stringmatch.br,
.bracketmatch.br,
.selection.br,
.highlight.br {
  border-bottom-right-radius: 0.3em;
}
.stringmatch,
.bracketmatch {
  padding-right: 0;
  margin-right: 0;
  padding-left: 0;
  margin-left: 0;
}
.list {
  position: absolute;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 500px;
  max-height: 460px;
}
.list.commands {
  width: 200px;
  max-height: 800px;
}
.list-item {
  width: 100%;
  height: 20px;
  font-family: "MesloLGS Nerd Font Mono", "Meslo LG S", "Menlo", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Cousine", "Andale Mono", monospace;
  font-size: 16px;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  overflow-x: auto;
  overflow-y: hidden;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
}
.list-item::-webkit-scrollbar {
  height: 1px;
}
.winlist {
  font-family: Bahnschrift Light, Helvetica Neue, Ebrima, Varela Round, Helvetica, Arial;
  position: absolute;
  right: 6px;
  top: 30px;
  min-width: 100px;
  max-width: 800px;
  z-index: 99;
  overflow-x: auto;
  border-bottom-left-radius: 6px;
}
.winlist::-webkit-scrollbar {
  height: 0px;
}
.winlist .dot {
  padding-left: 10px;
  padding-right: 10px;
}
.winlist-item {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 13px;
  cursor: pointer;
  font-size: 16px;
  height: 22px;
  white-space: nowrap;
}
.autocomplete-span {
  opacity: 1;
}
.autocomplete-list {
  pointer-events: auto;
  position: absolute;
  max-height: 200px;
  width: auto;
  overflow-x: hidden;
  overflow-y: auto;
  left: 0;
  top: 100%;
}
.autocomplete-list::-webkit-scrollbar {
  width: 4px;
}
.autocomplete-list::-webkit-scrollbar-thumb {
  width: 2px;
}
.autocomplete-item {
  pointer-events: auto;
  white-space: nowrap;
  width: 100%;
  display: block;
  padding-left: 5px;
  padding-right: 10px;
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
}
.li1.marker::before {
  content: '▸';
}
.li2.marker::before {
  content: '▪';
}
.li3.marker::before {
  content: '◆';
}
.function.head,
.function.tail {
  opacity: 1;
  color: transparent;
}
.function.tail:before {
  content: ' ▬';
}
.function.head:before {
  content: ' ▶';
}
.scrollbar {
  position: absolute;
  top: 0;
  cursor: ns-resize;
}
.scrollbar.left {
  bottom: 0;
  left: 0;
  width: 12px;
}
.scrollbar.right {
  right: 0;
  width: 10%;
  height: 100%;
}
.scrollhandle {
  position: absolute;
  width: scrollhandleWidth;
  top: 0;
}
.scrollhandle.left {
  left: 0;
}
.scrollhandle.right {
  right: 0;
}
#titlebar {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 30px;
  font-size: 15px;
  font-family: Bahnschrift Light, Helvetica Neue, Ebrima, Varela Round, Helvetica, Arial;
  white-space: nowrap;
  pointer-events: auto;
  cursor: pointer;
  -webkit-app-region: drag;
}
.titlebar-title {
  flex: 0;
  display: inline-block;
  flex-direction: row;
  padding-top: 7px;
  padding-right: 10px;
  -webkit-app-region: drag;
  font: Bahnschrift Light, Helvetica Neue, Ebrima, Varela Round, Helvetica, Arial;
}
.titlebar-dot {
  display: inline-block;
  vertical-align: top;
  padding-left: 9px;
  padding-right: 9px;
  margin-top: -1px;
}
#titlebar .winicon img {
  -webkit-app-region: no-drag;
  padding-left: 10px;
  padding-top: 3px;
  width: 22px;
  height: 22px;
}
#titlebar .winbutton {
  -webkit-app-region: no-drag;
  flex: 0 0 45px;
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  font-size: 18px;
  padding-top: 2px;
}
#titlebar .winbutton.minimize {
  padding-top: 5px;
  flex: 0 0 46px;
}
#titlebar .topframe {
  -webkit-app-region: no-drag;
  height: 2px;
  position: absolute;
  left: 0;
  top: 0;
  right: 135px;
}
.menuItem {
  -webkit-app-region: no-drag;
}
.menu {
  height: 30px;
  pointer-events: auto;
  -webkit-app-region: drag;
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
}
.menuItem {
  -webkit-app-region: no-drag;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  display: inline-block;
  height: 30px;
  overflow: visible;
}
.popup {
  z-index: 9999;
  position: absolute;
  border-radius: 3px;
  font-size: 15px;
  font-family: Bahnschrift Light, Helvetica Neue, Ebrima, Varela Round, Helvetica, Arial;
}
.popupItem {
  padding: 4px;
  padding-left: 12px;
  padding-right: 82px;
  cursor: pointer;
}
.popupItem.separator {
  padding: 0;
  cursor: default;
  border: 0;
  height: 0;
  margin-top: 2px;
  margin-bottom: 2px;
}
.popupItem:last-child {
  padding-bottom: 6px;
}
.popupItem:first-child {
  padding-top: 6px;
}
.popupCombo {
  position: absolute;
  right: 12px;
}
.popupCombo {
  pointer-events: none;
  position: absolute;
  right: 12px;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
.commandlist::-webkit-scrollbar,
.commandlist .layerScroll::-webkit-scrollbar {
  height: 8px;
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
