/*
 0000000   0000000   000       0000000   00000000    0000000    
000       000   000  000      000   000  000   000  000         
000       000   000  000      000   000  0000000    0000000     
000       000   000  000      000   000  000   000       000    
 0000000   0000000   0000000   0000000   000   000  0000000     
*/
body {
  background: #000;
  color: #fff;
}
.split-handle {
  background: #111;
}
.browser {
  background: #000;
  color: #fff;
}
.browserRow.hover {
  background: #111;
}
.browserRow.active {
  background: #111;
}
.browserRow.active.dir {
  color: #ff8;
}
.browserRow.selected {
  background: #116;
}
.rowNameInput {
  color: #ff0;
  background-color: #111;
}
.browserColumn.focus .browserRow.active {
  background: #22a;
}
.browserImage {
  border: 1px solid #111;
}
.browserRow.historySeparator * {
  color: #555;
}
.browserRow.historySeparator.active * {
  color: #888;
}
#shelf .browserRow.active {
  background: #000;
}
#shelf {
  background: #0a0a0a;
}
#shelf.focus {
  background: #111;
}
#commandline-editor {
  color: #fff;
  background: #000;
}
.commandlist {
  background: #0a0a0a;
}
.commandlist.open .linenumber.selected span {
  color: #aaf;
}
.commandlist.goto .linenumber.selected span {
  color: #66f;
}
.commandlist.term .linenumber.selected span {
  color: #f80;
}
.commandlistItem {
  cursor: pointer;
  padding-right: 4px;
}
.commandlistItem:hover {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #111;
}
#commandline-button {
  color: #aaa;
  background: #111;
}
#commandline-button.empty {
  background: #000;
  border-right-color: #111;
}
#commandline-button.active {
  background: #222;
}
span.ko.open,
span.macro.open,
#commandline-button.active.open {
  color: #0f0;
}
span.ko.goto,
span.macro.goto,
#commandline-button.active.goto {
  color: #66f;
}
span.ko.browse,
span.macro.browse,
#commandline-button.active.browse {
  color: #ff0;
}
span.ko.find,
span.macro.find,
#commandline-button.active.find {
  color: #f5f;
}
span.ko.search,
span.macro.search,
#commandline-button.active.search {
  color: #0a0;
}
span.ko.term,
span.macro.term,
#commandline-button.active.term {
  color: #f80;
}
span.ko.coffee,
span.macro.coffee,
#commandline-button.active.coffee {
  color: #f00;
}
span.ko.build,
span.macro.build,
#commandline-button.active.build {
  color: #aaa;
}
span.ko.macro,
span.macro.macro,
#commandline-button.active.macro {
  color: #888;
}
#commandline-button.macro,
#commandline-button.coffee {
  color: #aaa;
}
.ctrl {
  color: #888;
}
.ctrl:hover {
  color: #fff;
}
.ctrl:active {
  color: #ff0;
}
#info {
  background: #000;
  border-left-color: #111;
}
.info-cursor-line,
.info-cursor-column {
  color: #bbb;
}
.info-cursor-line.virtual,
.info-cursor-column.virtual {
  color: #08f;
}
.info-lines {
  color: #555;
}
.info-words {
  color: #0a0;
}
.info-classes {
  color: #ff8;
}
.info-funcs {
  color: #f80;
}
.info-files {
  color: #44f;
}
.info-cursors {
  color: #f80;
}
.info-sticky {
  color: #88f;
}
.info-selections {
  color: #888;
}
.info-highlights {
  color: #6767ab;
}
.tooltip {
  background: #111;
}
.tabs {
  background: #111;
  color: #aaa;
}
#titlebar.focus .tabs {
  color: #3c3;
}
.tab .dot {
  color: #444;
}
.tab .dot.focus {
  color: #060;
}
.tab.dirty,
.tab.dirty .dot {
  color: #aaf;
}
.tab:hover {
  opacity: 1;
}
.dot:hover {
  color: #f80;
}
.tab {
  background: #111;
}
.tab.active {
  background: #222;
}
#browser {
  background: #181818;
  border-color: #111;
}
.crumb {
  background: #111;
}
.crumb:hover {
  background: #0e0e0e;
}
.crumb .path:hover {
  color: #aaf;
}
.crumb,
.dir {
  color: #aaf;
}
.crumb .inline:hover {
  color: #fff;
  opacity: 1;
}
#terminal,
#editor {
  color: #ddd;
  background: #000;
  border-color: #111;
}
#split {
  border-color: #111;
}
*:focus .cursor {
  background: #f80;
}
*:focus .cursor.virtual {
  background: #008;
}
*:focus .cursor.main {
  background: #ff0;
}
*:focus .cursor.blink {
  background: #f80;
}
*:focus .cursor.blink.off {
  background: transparent;
}
.cursors.salterMode .cursor {
  background: #050;
}
.cursors.salterMode .cursor.main {
  background: #080;
}
.cursor {
  background: #444;
}
.cursor.main {
  background: #666;
}
.cursor.virtual {
  background: #111;
}
.cursor-line {
  background: #080808;
}
.commandlist .cursor {
  background: transparent;
}
.numbers {
  background: rgba(15,15,15,0.5);
}
.commandlist .layers .numbers {
  background: rgba(0,0,0,0.1);
}
.linenumber {
  border-right-color: #111;
}
.linenumber span {
  color: #111;
}
.linenumber.highligd span {
  color: rgba(155,155,255,0.6);
}
.linenumber.selected span {
  color: #555;
}
.linenumber.highligd.selected:not(.cursored) span {
  color: #bbf;
}
.linenumber.cursored span {
  color: #f00;
}
.linenumber.cursored.selected span {
  color: #f80;
}
.linenumber.cursored.main span {
  color: #fd0;
}
.linenumber.cursored.main.selected span {
  color: #ff0;
}
.meta.href {
  background-color: #222;
}
.meta.gitInfoFile {
  background: #222;
  opacity: 0.5;
  padding-right: 10px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.meta.gitInfoChange {
  background: #080;
  opacity: 0.25;
}
.meta.coffeeCommand,
.meta.termCommand {
  background: #111;
}
.meta.git {
  opacity: 0.4;
  background: #0f0;
}
.meta.git.del {
  background: #f00;
}
.meta.git.mod {
  background: #0f0;
}
.meta.git.add {
  background: #88f;
}
.meta.git.boring {
  background: #666;
}
.meta.dbg {
  opacity: 0.8;
  background: #f00;
}
.meta.dbg.pointer {
  opacity: 1;
  border-left-color: #ff0;
}
.meta.pigment {
  opacity: 1;
}
.linenumber span .saveButton {
  background: #f80;
}
.linenumber span.gitInfoLine {
  transform: translateY(-4px);
}
.linenumber span.gitInfoLine.changed {
  color: #080;
}
.linenumber span.gitInfoLine.deleted {
  color: #f00;
}
.linenumber span.gitInfoLine.added {
  color: #ff0;
}
.linenumber.gitInfoLine {
  background: #111;
}
.minimap {
  background: #000;
  border-left-color: #111;
}
.topbot {
  background-color: #111;
}
.highlight {
  color: rgba(255,100,255,0.7);
  background: rgba(100,50,255,0.2);
}
.bracketmatch {
  background: rgba(255,255,255,0.2);
}
.stringmatch {
  background: rgba(0,255,0,0.3);
}
*:focus .selection {
  background: #222;
}
.selection {
  color: #444;
  background: #111;
}
.winlist,
.list {
  background: #111;
}
.winlist-item.selected,
.list-item.selected {
  background: #222;
}
.winlist-item:hover,
.list-item:hover {
  background: #222;
}
.winlist .dot {
  color: #060;
}
.winlist .winid {
  color: #080;
}
.autocomplete-span {
  background: #22a;
  color: #ff0;
}
.autocomplete-span.selected {
  color: #fff;
}
.autocomplete-list {
  background: #111;
}
.autocomplete-list::-webkit-scrollbar {
  background-color: #222;
}
.autocomplete-list::-webkit-scrollbar-thumb {
  background-color: #44f;
}
.autocomplete-item {
  color: #ccc;
}
.autocomplete-item.selected {
  background: #44f;
  color: #ff0;
}
.scroller.long {
  color: #2f2f2f;
}
.scrollbar.long {
  color: #3c3c3c;
}
.scroller.short {
  color: #7f7fff;
}
.scrollbar.short {
  color: #a0a0ff;
}
.scrollhandle {
  background: #88f;
}
#titlebar {
  background: #111;
}
.titlebar-name {
  color: #999;
}
.titlebar-version {
  color: #444;
}
.titlebar-dot {
  color: #222;
}
#titlebar .winbutton:active {
  background-color: #f00;
}
#titlebar .winbutton:active.gray {
  background-color: #222;
}
#titlebar .winbutton svg {
  stroke-width: 1px;
  stroke: #444;
}
#titlebar .winbutton:active svg {
  stroke: #fff;
}
#titlebar .winbutton:hover svg {
  stroke: #fff;
}
.menuItem {
  color: #444;
  background-color: #111;
}
.menuItem.selected {
  color: #999;
}
.menu:focus .menuItem.selected {
  color: #fff;
}
.popup {
  background-color: #111;
}
.popupWindow {
  background-color: #111;
}
.popupItem {
  color: #444;
}
.popupItem:not(:last-child) {
  border-bottom: 1px solid #111;
}
.popupItem.selected {
  color: #fff;
}
.popupItem.selected .popupCombo {
  color: #444;
}
.popupItem.separator {
  border-top: 1px solid #0e0e0e;
}
.popupItem:not(:last-child) {
  border-bottom: 1px solid #111;
}
.popupCombo {
  color: #222;
}
::-webkit-scrollbar-corner {
  background-color: #111;
}
::-webkit-scrollbar-thumb {
  background-color: #444;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #b00;
}
