
body
{
    background: #000000;
    color: #fff;
}

.split-handle
{
    background: #111111;
}

.browser
{
    background: #000000;
    color: #fff;
}

.browserRow
{
}

.browserRow.hover
{
    background: #111;
}

.browserRow.active
{
    background: #111111;
}

.browserRow.active.dir
{
    color: #ff8;
}

.browserRow.selected
{
    background: #116;
}

.rowNameInput
{
    color: #ff0;
    background-color: #111111;
}

.browserColumn.focus .browserRow.active
{
    background: #22a;
}

.browserImage
{
    border: 1px solid #111111;
    background-image: linear-gradient(45deg, #111 25%, transparent 25%), linear-gradient(-45deg, #111 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #111 75%), linear-gradient(-45deg, transparent 75%, #111 75%);
}

.browserRow.historySeparator *
{
    color: #555;
}

.browserRow.historySeparator.active *
{
    color: #888;
}

#shelf .browserRow.active
{
    background: #000000;
}

#shelf
{
    background: #0a0a0a;
}

#shelf.focus
{
    background: #111111;
}


.imageInfoData,
.fileInfoData
{
    color: #444;
}

.imageInfoData.punct,
.fileInfoData .punct
{
    color: #222;
}

#commandline-editor
{
    color: #fff;
    background: #000000;
}


.list.commands,
.commandlist
{
    background: #0a0a0a;
}

.list.commands.selection,
.commandlist .selection
{
    background: #222;
}

.commandlist.goto .linenumber.selected span
{
    color: #66f;
}

.commandlist.term .linenumber.selected span
{
    color: #f80;
}

.commandlistItem
{
    cursor: pointer;
    padding-right: 4px;
}

.commandlistItem:hover
{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #111;
}

.list-item:hover
{
    background: #141414;
}

#commandline-button
{
    color: #aaa;
    background: #111111;
}

#commandline-button.empty
{
    background: #000000;
    border-right-color: #111111;
}

#commandline-button.active
{
    background: #222;
}



span.ko,
span.macro,
#commandline-button.active
{
}

span.ko.open,
span.macro.open,
#commandline-button.active.open
{
    color: #0f0;
}

span.ko.goto,
span.macro.goto,
#commandline-button.active.goto
{
    color: #66f;
}

span.ko.browse,
span.macro.browse,
#commandline-button.active.browse
{
    color: #ff0;
}

span.ko.find,
span.macro.find,
#commandline-button.active.find
{
    color: #f5f;
}

span.ko.search,
span.macro.search,
#commandline-button.active.search
{
    color: #0a0;
}

span.ko.build,
span.macro.build,
#commandline-button.active.build
{
    color: #aaa;
}

span.ko.macro,
span.macro.macro,
#commandline-button.active.macro
{
    color: #888;
}

#commandline-button.macro
{
    color: #aaa;
}

.ctrl
{
    color: #888;
}

.ctrl:hover
{
    color: #fff;
}

.ctrl:active
{
    color: #ff0;
}

#info
{
    background: #000000;
    border-left-color: #111111;
}


.info-cursor-line,
.info-cursor-column
{
    color: #bbb;
}

.info-cursor-line.virtual,
.info-cursor-column.virtual
{
    color: #08f;
}

.info-lines
{
    color: #555;
}

.info-words
{
    color: #0a0;
}

.info-classes
{
    color: #ff8;
}

.info-funcs
{
    color: #f80;
}

.info-files
{
    color: #44f;
}

.info-cursors
{
    color: #f80;
}

.info-sticky
{
    color: #88f;
}

.info-selections
{
    color: #888;
}

.info-highlights
{
    color: rgb(103,103,171);
}

.info-editor
{
    color: #333;
}

.info-editor:hover
{
    color: #f80;
}

.tooltip
{
    background: #111111;
}

.tabs
{
    background: #111111;
    color: #aaa;
}

#titlebar.focus .tabs
{
    color: #3c3;
}

.titlebar-title::-webkit-scrollbar-thumb
{
    background-color: #333;
}


.tab .dot,
.tab .prjdot
{
    color: #444;
}

.tab .dot.focus,
.tab .prjdot.focus
{
    color: #060;
}


.tab.dirty,
.tab.dirty .dot
{
    color: #aaf;
}

.tab:hover
{
    opacity: 1;
}

.unsaved-icon
{
    color: #aaf;
}

.unsaved-icon:hover
{
    color: #f00;
}

.temp-icon
{
    color: #555;
}

.dot:hover
{
    color: #f80;
}

.tab .prjdot.activeTab
{
    color: #fff;
}

.tab
{
    background: #111111;
}

.tab.active
{
    background: #333;
}

.tabstate
{
    stroke: #444;
    fill: #444;
}

.tabstate:hover
{
    background: #333;
}

.tab.active .tabstate:hover
{
    background: #282828;
}

.tab.prj
{
    background: #181818;
}

.tab.prj .name
{
    color: #aaf;
    opacity: 1;
}

.tab.prj.active
{
    background: #444;
}

.git-status-icon
{
    display: inline-block;
}

.lock-icon:hover
{
    color: #ff0;
}

.temp-icon:hover
{
    color: #888;
}

.quickmenu-item
{
    border-radius: 6px;
}

.quickmenu-item:hover
{
    background: #333;
}

.quickmenu-browser
{
    color: #f80;
}

.quickmenu-browser:hover
{
    color: #fc0;
}

.quickmenu-terminal
{
    color: #88f;
}

.quickmenu-terminal:hover
{
    color: #aaf;
}

.quickmenu-list
{
    color: #080;
}

.quickmenu-list:hover
{
    color: #0a0;
}

.quickmenu-devtools
{
    color: #800;
}

.quickmenu-devtools:hover
{
    color: #a00;
}

.quickmenu-kalk
{
    color: #444;
}

.quickmenu-kalk:hover
{
    color: #666;
}

#browser
{
    background: #181818;
    border-color: #111111;
}

.browserColumn
{
    border-top-color: #111111;
}

.crumb
{
    background: rgba(0,0,0,0);
}

.crumb:hover
{
    background: #0e0e0e;
}

.crumb .path:hover
{
    color: #aaf;
}


.crumb,
.dir
{
    color: #aaf;
}

.crumb .inline:hover
{
    color: white;
    opacity: 1;
}


#terminal,
#editor
{
    color: #ddd;
    background: #000000;
    border-color: #111111;
}

#split
{
    border-color: #111111;
}

*:focus .cursor
{
    background: #f80;
}

*:focus .cursor.virtual
{
    background: #008;
}

*:focus .cursor.main
{
    background: #ff0;
}

*:focus .cursor.blink
{
    background: #f80;
}

*:focus .cursor.blink.off
{
    background: #a00;
}

.cursors.salterMode .cursor
{
    background: #050;
}

.cursors.salterMode .cursor.main
{
    background: #080;
}

.cursor
{
    background: #444;
}

.cursor.main
{
    background: #666;
}

.cursor.virtual
{
    background: #111;
}

.cursor-line
{
    background: #080808;
}

.commandlist .cursor
{
    background: transparent;
}

.numbers
{
    background: rgba(15, 15, 15, 0.5);
}

.linenumber
{
    border-right-color: #111111;
}

.linenumber span
{
    color: #111111;
}

.linenumber.highligd span
{
    color: rgba(155,155,255, 0.6);
}

.linenumber.selected span
{
    color: #555;
}

.linenumber.highligd.selected:not(.cursored) span
{
    color: #bbf;
}

.linenumber.cursored span
{
    color: #f00;
}

.linenumber.cursored.selected span
{
    color: #f80;
}

.linenumber.cursored.main span
{
    color: #fd0;
}

.linenumber.cursored.main.selected span
{
    color: #ff0;
}

.commandlist.open .linenumber
{
    padding-top: 4px;
}

.commandlist.open .linenumber.selected span
{
    color: #ff0;
}

.commandlist.open .linenumber span svg
{
    fill: #a60;
}

.commandlist.open .linenumber.selected span svg
{
    fill: #ff0;
}

.commandlist.open .linenumber span
{
    color: #444;
}

.meta
{
}

.meta.href
{
    background-color: #222;
}

.meta.gitInfoFile
{
    background: #222;
    opacity: 0.5;
    padding-right: 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}






.meta.gitInfoFile:hover,
.meta.termCommand:hover,
.meta.coffeeCommand:hover,
.meta.gitInfoChange:hover,
.meta.gitInfoAdded:hover,
.meta.searchResult:hover
{
    background: #444;
}

.meta.gitInfoChange
{
    border-bottom: 3px solid #060;
}

.meta.gitInfoDelete
{
    background: #000;
    opacity: 0.5;
}

.meta.git
{
    opacity: 0.4;
    background: #0f0;
}

.meta.git.del
{
    background: #f00;
}

.meta.git.mod
{
    background: #0f0;
}

.meta.git.add
{
    background: #88f;
}

.meta.git.boring
{
    background: #666;
}

.meta.dbg
{
    opacity: 0.8;
    background: #f00;
}

.meta.dbg.pointer
{
    opacity: 1;
    border-left-color: #ff0;
}

.meta.pigment
{
    opacity: 1;
}

.linenumber span .saveButton
{
    background: #f80;
}

.linenumber span.gitInfoLine
{
    transform: translateY(-4px);
}

.linenumber span.gitInfoLine.changed
{
    color: #080;
}

.linenumber span.gitInfoLine.deleted
{
    color: #f00;
}

.linenumber span.gitInfoLine.added
{
    color: #ff0;
}

.linenumber.gitInfoLine
{
    background: #111111;
}

.minimap
{
    background: #000000;
    border-left-color: #111111;
}

.topbot
{
    background-color: #111111;
}


.filelist-item,
.funclist-item
{
    background-color: #000000;
    cursor: pointer;
}

.filelist-item: hover,
.funclist-item:hover
{
    background-color: #0d0d0d;
}


.filelist-item:active,
.funclist-item:active
{
        background-color: #222;
}


.filelist-item.visible,
.funclist-item.visible
{
        background-color: #111111;
}


.filelist-item.inside,
.funclist-item.inside
{
        background-color: #333;
}

.highlight
{
    color: rgba(255, 100, 255, 0.7);
    background: rgba(100, 50,  255, 0.2);
}

.bracketmatch
{
    background: rgba(255, 255, 255, 0.2);
}

.stringmatch
{
    background: rgba(0,255,0, 0.3);
}

*:focus .selection
{
        background: #222;
}

.selection
{
    color: #444;
    background: #111;
}

.autocomplete-span
{
    background: #22a;
    color: #ff0;
}

.autocomplete-span.selected
{
    color: #fff;
}

.autocomplete-list
{
    background: #111111;
}

.autocomplete-list::-webkit-scrollbar
{
    background-color: #222;
}

.autocomplete-list::-webkit-scrollbar-thumb
{
    background-color: #44f;
}

.autocomplete-item
{
    color: #ccc;
}

.autocomplete-item.selected
{
    background: #44f;
    color: #ff0;
}

.scroller.long
{
    color: #111111;
}

.scrollbar.long
{
    color: #333;
}

.scroller.short
{
    color: rgb(127,127,255);
}

.scrollbar.short
{
    color: rgb(160,160,255);
}

.scrollhandle
{
    background: #88f;
}
