html
    head
        title icon
        styl
            body
                position  absolute
                bottom    0
                right     0
                left      0
                top       0
                margin    0
                padding   0
                
                & img
                    pointer-events none
        
    body class='app-drag-region'
    script type="module" src="./kxk/icon.js"
    