html
    head
        title kappo
        link rel="stylesheet" href="./css/style.css"       type="text/css"
        link rel="stylesheet" href="./css/dark.css"        type="text/css"
        link rel="stylesheet" href="./css/kappo/style.css" type="text/css"
        link rel="stylesheet" href="./css/kappo/dark.css"  type="text/css"
    body class="app-drag-region"
        #main tabindex="0"
            #app class="app-drag-region"
                #appicon class="app-drag-region"
                #appname
                #appdots
    script type="module" src="./kappo/kappo.js"

