


.git-dirs-icon,
.directory,
.dir
{
    color: #aaf;
}


.dir.text,
.dir.punct
{
    color: #a84;
    font-weight: normal;
}

.file
{
    color: #aaa;
}






.git-changed-icon,
.cc,
.cpp,
.mm,
.git,
.coffee
{
    color: #fa0;
}

.kode
{
    color: #0e0;
}





.git-added-icon,
.h,
.hpp,
.py,
.noon
{
    color: #f80;
}


.md,
.txt
{
    color: #0a0;
}

.url
{
    color: #808;
}

.url.domain
{
    color: #f0f;
}

.url.tld
{
    color: #a0a;
}

.mail
{
    color: #f8f;
}

.mail.domain
{
    color: #c0c;
}






.png,
.gif,
.jpg,
.bmp,
.tiff,
.image
{
    color: #080;
}



.ico,
.icns,
.pic
{
    color: #0f0;
}


.pug,
.styl
{
    color: #0aa;
}

.mjs
{
    color: #f8d;
}




.js,
.css,
.json,
.html
{
    color: #b4a;
}

.sh
{
    color: #f00;
}

.dirname
{
    opacity: 0.6;
}

.ext
{
    opacity: 0.3;
}

.sep
{
    opacity: 0.3;
}

.linepos
{
    color: #66a;
}


.lock,
.dotfile
{
    color: #666;
}

.dir .dotfile
{
    color: #88e;
}
