
.syntax
{
    color: #666;
}

.browserRow.array
{
    color: #aaa;
}

.browserRow .arrayIndex
{
    color: #444;
    font-size: 12px;
}

.browserRow .arrayDot
{
    color: #333;
}

.invisible
{
    color: #181818;
}

.invisible.invisible-tab
{
    color: #333;
}

.invisible.trailing
{
    color: #600;
}

.array
{
    color: #00f;
}

.type
{
    color: #77f;
}


.func,
.function
{
    color: #fa0;
}

.func.post,
.function.post
{
    color: #bbf;
}

.func.call,
.function.call
{
    color: #f80;
}

.function.call.class
{
    color: #fc0;
}

.func.marker,
.function.marker
{
    opacity: 1;
    color: #55f;
}

.func.async,
.function.async
{
    opacity: 1;
    color: #aaf;
}


.function.async.punct,
.function.async.marker
{
    color: #55f;
}

.function.async.punct.bound,
.function.async.marker.bound
{
    color: #f80;
}

.func.ligature,

.func.tail:before,

.func.head:before,
.function.ligature,
.function.tail:before,
.function.head:before
{
    color: #55f;
}

.func.bound.ligature,

.func.tail.bound:before,

.func.head.bound:before,
.function.bound.ligature,
.function.tail.bound:before,
.function.head.bound:before
{
    color: #f80;
}

.func.bracket,
.function.bracket
{
    color: #55f;
}

.arrow
{
}


.arrow.tail:before,
.arrow.head:before
{
    color: #555;
}






.obj,
.owner,
.callee,
.dictionary,
.class.object,
.class
{
    color: #ff8;
}

.range
{
    color: #66f;
}

.require
{
    color: #0f0;
}

.this
{
    color: #f88;
}


.marker,
.punct
{
    opacity: 0.4;
}

.marker.minor,
.punct.minor
{
    opacity: 0.3;
}

.marker.dictionary,
.punct.dictionary
{
    opacity: 0.3;
}

.escape
{
    opacity: 0.2;
}

.module
{
    color: #ff8;
}

.property
{
    color: #fa8;
}


.elem,
.namespace
{
    color: #48a;
}

.elem.member,
.namespace.member
{
    color: #f80;
}

.member
{
    color: #ccf;
}

.method
{
    color: #ff0;
}

.method.static.async
{
    color: #fff;
}

.method.static.async.marker
{
    opacity: 1;
    color: #99f;
}


.method.class,
.method.call
{
    color: #ff8;
}


.method.definition,
.method.template
{
    color: #48a;
}

.template
{
    color: #48a;
}

.operator
{
    color: #fa0;
}

.operator.negate
{
    color: #ff0;
}

.regexp
{
    color: #f4a;
}



.keypath,
.semver,
.cssid
{
    color: #f80;
}


.syntax.cond,
.keyword
{
    color: #aaf;
}

.syntax.cond.null,
.keyword.null
{
    color: #a00;
}

.syntax.cond.function,
.keyword.function
{
    color: #666;
}

.struct
{
    color: #f63;
}

.macro
{
    color: #f0f;
}

.macro.call
{
    color: #f0f;
}

&.argument
{
    color: #0aa;
}

.define
{
    color: #666;
}

.interpolation.marker
{
        color: #f80;
}

.variable.err
{
    color: #f08;
}

.syntax.exists
{
    opacity: 0.7;
}

.string
{
    color: #0a0;
}


.string.double,
.string.triple
{
    color: #0e0;
}

.string.backtick
{
    color: #ccf;
}

.string.interpolation
{
    opacity: 0.5;
}

.string.dictionary
{
    color: #0a0;
}


.bool,
.true
{
    color: #88f;
}

.nil
{
    color: #f04;
}


.number,
.int
{
    color: #88f;
}

.float
{
    color: #f68;
}

.hex
{
    color: #fa8;
}


.keyword.return,
.keyword.return.function.call
{
    color: #c0c;
}



.comment,
.comment.text.keyword,
.comment.string.double
{
    color: #4f4f4f !important;
}

.comment.header
{
    border-left-color: #161;
    background: #151;
    color: #151 !important;
    border-bottom-color: #141;
}

.comment.header.minimap
{
    color: #0a0 !important;
    opacity: 1;
}

.comment.triple.header
{
    border-left-color: #590;
    background: #480;
    color: #480 !important;
    border-bottom-color: #040;
}

.comment.triple.header.minimap
{
    color: #af0 !important;
}

.header.marker.minimap
{
    color: #222 !important;
}

.require
{
    color: #666;
}

.require.variable
{
    color: #0f0;
}

.require.string
{
    color: #0f0;
}

.require.module
{
    color: #0f0;
}

.require.keyword
{
    color: #333;
}

&.h1
{
    color: #ff0;
}

&.h2
{
    color: #ff4;
}

&.h3
{
    color: #ff8;
}

&.h4
{
    color: #aaf;
}

&.h5
{
    color: #88f;
}

&.li1
{
    color: #0f0;
}

&.li1.marker
{
    color: transparent;
}

&.li1.marker:before
{
    color: #0f0;
}

&.li2
{
    color: #0a0;
}

&.li2.marker
{
    color: transparent;
}

&.li2.marker:before
{
    color: #0a0;
}

&.li3
{
    color: #080;
}

&.li3.marker
{
    color: transparent;
}

&.li3.marker:before
{
    color: #080;
}

&.bold
{
    color: #ff8;
    font-weight: bold;
}

&.bold.marker
{
    opacity: 0.3;
}

&.code
{
    color: #ccf;
}

&.code.punct
{
    opacity: 0.2;
}

&.italic
{
    font-style: italic;
}

.found
{
    text-decoration: underline;
}

.git-deleted
{
    opacity: 0.26;
}
