doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv='Content-Security-Policy' content="default-src * 'unsafe-inline' 'unsafe-eval'")
        link(rel="stylesheet" href="./css/style.css"       type="text/css")
        link(rel="stylesheet" href="./css/dark/colors.css" type="text/css", class="scheme-link")
        link(rel="stylesheet" href="./css/dark/syntax.css" type="text/css", class="scheme-link")
        link(rel="stylesheet" href="./css/dark/files.css"  type="text/css", class="scheme-link")
        link(rel="stylesheet" href="../node_modules/file-icons-js/css/style.css" type="text/css")
    body#ko
        #titlebar
        #main
            #split
                #browser(tabindex="3")
                #terminal(tabindex="2")
                #commandline
                    span#commandline-button
                    span#commandline-span
                        #commandline-editor(tabindex="1")
                        #info
                #editor(tabindex="0")
    script.
        require("./win/window.js")
