doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title ko
        link(rel='stylesheet' href='css/style.css'  type='text/css')
        link(rel='stylesheet' href='css/syntax.css' type='text/css')
    body.body
        .titlebar
        .split
            .area(tabindex="4")
            .terminal(tabindex="3")
            .handle.top
            .commandline
                span.commandline-command
                span.commandline-span
                    .commandline-editor(tabindex="1")
                    .info
            .handle.edit
            .editor(tabindex="0")
            .handle.log
            .logview(tabindex="2")
    script.
        require('./js/window.js')
