doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title ko
        link(rel='stylesheet' href='css/style.css'  type='text/css')
        link(rel='stylesheet' href='css/syntax.css' type='text/css')
        link(rel='stylesheet' href='../node_modules/font-awesome/css/font-awesome.css' type='text/css')
        script(src='../node_modules/three/build/three.js')
    body#body
        #titlebar
        #main
            #split
                #area(tabindex="3")
                #terminal(tabindex="2")
                #commandline
                    span#commandline-command
                    span#commandline-span
                        #commandline-editor(tabindex="1")
                        #info
                #editor(tabindex="0")
                #logview(tabindex="4")
    script.
        require('./window.js')
