doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="./css/style.css"       type="text/css")
        link(rel="stylesheet" href="./css/dark/colors.css" type="text/css", class="scheme-link")
        link(rel="stylesheet" href="./css/dark/syntax.css" type="text/css", class="scheme-link")
        link(rel="stylesheet" href="./css/dark/files.css"  type="text/css", class="scheme-link")
        link(rel="stylesheet" href="../node_modules/file-icons-js/css/style.css" type="text/css")
        script(src="../node_modules/three/build/three.js")
    body#ko
        #titlebar
        #main
            #split
                #area(tabindex="3")
                #terminal(tabindex="2")
                #commandline
                    span#commandline-button
                    span#commandline-span
                        #commandline-editor(tabindex="1")
                        #info
                #editor(tabindex="0")
                #logview(tabindex="4")
    script.
        require("./win/window.js")
