doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title ruler
        link(rel='stylesheet' href='css/ruler.css' type='text/css')
    body#body
        #ruler(tabindex=0)
        #left.handle
            div.white.dot
            div.black.dot
        #right.handle
            div.white.dot
            div.black.dot
    script(src='ruler.js')