doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title ruler
        link(rel='stylesheet' href='css/ruler.css' type='text/css')
    body#body
        div#ruler 
    script(src='js/ruler.js')