/*
*   0000000   0000000     0000000   000   000  000000000
*  000   000  000   000  000   000  000   000     000   
*  000000000  0000000    000   000  000   000     000   
*  000   000  000   000  000   000  000   000     000   
*  000   000  0000000     0000000    0000000      000   
*/

clr                  = {} 
clr.black            = #000000
clr.gray-most-dark   = #181818
clr.gray-dark        = #333333
clr.gray-medium      = #666666
clr.gray             = #888888
clr.white            = #ffffff
clr.yellow           = #ffff00
clr.orange           = #ff8800
clr.red              = #ff0000
clr.green            = #00aa00
clr.blue-medium      = #6666ff
clr.blue-bright      = #8888ff
clr.blue-very-bright = #aaaaff

clr.background       = clr.gray-most-dark

body
    font-family         Verdana
    background-color:   clr.background
    color:              clr.white
    
::selection
    color:              clr.yellow

body
    margin              0px
    font-size           18px
    overflow            hidden
    
a
    text-decoration     none
    color:              clr.blue-medium
    &:hover  
        color:          clr.orange
                
#stage
    position            absolute
    top                 0
    bottom              0
    left                0
    right               0

#icon
    margin-top          30px
    margin-bottom       30px
    cursor              pointer

#name
    font-weight         bold
    
#version
    font-size           14px
    color:              clr.gray-dark
    &:hover 
        color:          clr.gray-medium
