//  0000000   0000000     0000000   000   000  000000000
// 000   000  000   000  000   000  000   000     000   
// 000000000  0000000    000   000  000   000     000   
// 000   000  000   000  000   000  000   000     000   
// 000   000  0000000     0000000    0000000      000   

body
    font-family         Verdana
    background-color    #222
    
::selection
    color               #ff0

body
    margin              0px
    overflow            hidden
    
a
    text-decoration     none
    &:hover  
        color           #f80
                
#stage
    position            absolute
    top                 0
    bottom              0
    left                0
    right               0

#icon
    margin-top          50px
    margin-bottom       10px
    padding-left        30px
    cursor              pointer
    
#version
    font-size           14px
    color               #333
    &:hover 
        color           #66f
