
//  0000000  000000000  000   000  000    
// 000          000      000 000   000    
// 0000000      000       00000    000    
//      000     000        000     000    
// 0000000      000        000     0000000

font                  = "Menlo", "Cousine", "Liberation Mono", "Andale Mono", monospace

fill-abs()
    position            absolute
    bottom              0
    right               0
    left                0
    top                 0

// 0000000     0000000   0000000    000   000
// 000   000  000   000  000   000   000 000 
// 0000000    000   000  000   000    00000  
// 000   000  000   000  000   000     000   
// 0000000     0000000   0000000       000   

*
    outline-width       0
    
body
    fill-abs()
    margin              0
    background          #222
    color               #fff
    overflow            hidden
    font-family         font
    -webkit-user-select none
    -webkit-app-region  drag