/*
 0000000  000000000  000   000  000
000          000      000 000   000
0000000      000       00000    000
     000     000        000     000
0000000      000        000     0000000
*/

selectionRadius       = 0.3em
selectionRadiusCursor = 0.15em
metaRadius            = 0.15em

minimapWidth          = 130px
scrollbarWidth        = 12px // transparent scroll area
scrollhandleWidth     = 6px
numbersWidth          = 50px
editorPadding         = (8px + numbersWidth)
bottomCornerRadius    = 4px
frameWidth            = 6px
frameBorder           = frameWidth solid
commandlineHeight     = 30px
titlebarHeight        = 22px
titlebarFontSize      = 14px
splithandleHeight     = 6px
thinBorder            = 1px solid
font                  = "Meslo LG S", "Liberation Mono", "Menlo", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Cousine", "Andale Mono", monospace

fill-abs()
    position            absolute
    bottom              0
    right               0
    left                0
    top                 0

pre
    margin              0

// 0000000     0000000   0000000    000   000
// 000   000  000   000  000   000   000 000
// 0000000    000   000  000   000    00000
// 000   000  000   000  000   000     000
// 0000000     0000000   0000000       000

*
    outline-width       0

body
    fill-abs()
    margin              0
    overflow            hidden
    font-family         font
    -webkit-user-select none
    -webkit-app-region  no-drag

@keyframes fadein
  from
    opacity 0
  to
    opacity 1

#main
    animation           fadein 1.0s
    position            absolute
    top                 titlebarHeight
    left                0
    right               0
    bottom              0

//  0000000  00000000   000      000  000000000
// 000       000   000  000      000     000
// 0000000   00000000   000      000     000
//      000  000        000      000     000
// 0000000   000        0000000  000     000

#split
    position            relative
    overflow            hidden
    border-left         frameBorder
    border-right        frameBorder
    box-sizing          border-box
    width               100%

// 0000000    00000000    0000000   000   000   0000000  00000000  00000000
// 000   000  000   000  000   000  000 0 000  000       000       000   000
// 0000000    0000000    000   000  000000000  0000000   0000000   0000000
// 000   000  000   000  000   000  000   000       000  000       000   000
// 0000000    000   000   0000000   00     00  0000000   00000000  000   000

.browser
    position            absolute
    bottom              0
    right               0
    left                0
    top                 0

.browserColumn
    overflow            hidden
    position            relative

.browserColumnTable
    display             table
    width               100%
    height              100%

.browserRow
    display             block
    padding-left        6px
    padding-right       6px
    white-space         nowrap
    cursor              pointer

    & .git
        float           right
        padding-top     1px

.browserSearch
    padding-right       12px
    float               right

.browserImageContainer
    position            relative
    padding-left        frameWidth

.browserImage
    max-width           600px
    max-height          600px
    border              1px solid

// 00000000    0000000   00000000   000   000  00000000
// 000   000  000   000  000   000  000   000  000   000
// 00000000   000   000  00000000   000   000  00000000
// 000        000   000  000        000   000  000
// 000         0000000   000         0000000   000

.popup
    position            absolute
    background-color    #222
    border-radius       3px

.popupWindow
    background-color    #222

.popupItem
    color               #888
    padding             2px
    padding-left        2 * frameWidth
    padding-right       2 * frameWidth + 70px
    cursor              pointer
    &:last-child
        padding-bottom  frameWidth
    &:first-child
        padding-top     frameWidth
    &:not(:last-child)
        border-bottom       1px solid #222
    &.selected
        color           #fff

.popupItem:active
    color               #ff0

.popupCombo
    color               #333
    position            absolute
    right               2 * frameWidth

//  0000000  000   000  00000000  000      00000000
// 000       000   000  000       000      000
// 0000000   000000000  0000000   000      000000
//      000  000   000  000       000      000
// 0000000   000   000  00000000  0000000  000

#shelf
    overflow            hidden
    position            absolute
    left                0
    top                 0
    bottom              0

#shelfResize
    background          transparent

//  0000000   0000000   00     00  00     00   0000000   000   000  0000000    000      000  000   000  00000000
// 000       000   000  000   000  000   000  000   000  0000  000  000   000  000      000  0000  000  000
// 000       000   000  000000000  000000000  000000000  000 0 000  000   000  000      000  000 0 000  0000000
// 000       000   000  000 0 000  000 0 000  000   000  000  0000  000   000  000      000  000  0000  000
//  0000000   0000000   000   000  000   000  000   000  000   000  0000000    0000000  000  000   000  00000000

#commandline
    padding             0
    margin              0
    white-space         nowrap
    display             flex

.ko.shortcut
    opacity             0.5
.ko.command
    font-weight         bold

#commandline-span
    position            relative
    flex-grow           1
    white-space         nowrap

#commandline-editor
    font-family         font
    height              commandlineHeight
    fill-abs()
    overflow-x          auto
    overflow-y          hidden

//  0000000   0000000   00     00  00     00   0000000   000   000  0000000    000      000   0000000  000000000
// 000       000   000  000   000  000   000  000   000  0000  000  000   000  000      000  000          000
// 000       000   000  000000000  000000000  000000000  000 0 000  000   000  000      000  0000000      000
// 000       000   000  000 0 000  000 0 000  000   000  000  0000  000   000  000      000       000     000
//  0000000   0000000   000   000  000   000  000   000  000   000  0000000    0000000  000  0000000      000

.commandlist
    position            absolute
    left                0
    overflow            hidden
    width               500px

    & .linenumber
        padding-top     0
        margin-top      -2px

.commandlist.coffee
    width               800px

.commandlist.open
    width               600px

// 0000000    000   000  000000000  000000000   0000000   000   000
// 000   000  000   000     000        000     000   000  0000  000
// 0000000    000   000     000        000     000   000  000 0 000
// 000   000  000   000     000        000     000   000  000  0000
// 0000000     0000000      000        000      0000000   000   000

#commandline-button
    font-family         font
    font-size           24px
    padding-top         0px
    padding-left        9px
    padding-right       9px
    cursor              pointer
    min-width           (numbersWidth + 1px)
    box-sizing          border-box
    white-space         nowrap
    &.empty
        border-right    thinBorder

//   00000000  00000000    0000000
//   000       000   000  000
//   000000    00000000   0000000
//   000       000             000
//   000       000        0000000

.fps
    pointer-events  none
    position        absolute
    right           (minimapWidth + 1)
    top             0
    width           minimapWidth
    height          commandlineHeight

.fpsCanvas
    background-color transparent

//  0000000  000000000  00000000   000
// 000          000     000   000  000
// 000          000     0000000    000
// 000          000     000   000  000
//  0000000     000     000   000  0000000

#debugCtrl
    fill-abs()
    padding-left        4px

.ctrl
    display             inline-block
    font-size           22px
    padding-top         3px
    padding-left        10px
    padding-right       6px

// 000  000   000  00000000   0000000
// 000  0000  000  000       000   000
// 000  000 0 000  000000    000   000
// 000  000  0000  000       000   000
// 000  000   000  000        0000000

#info
    overflow            hidden
    width               minimapWidth
    position            absolute
    right               0
    top                 0
    bottom              0
    padding-top         1px
    border-left         thinBorder
    font-family         font
    font-size           12px
    & .info-line
        display         block

infoPadding = 6px

.info-words
.info-lines
.info-funcs
.info-files
.info-sticky
.info-classes
.info-cursors
.info-selections
.info-highlights
.info-cursor-line
.info-cursor-column
    cursor              pointer
    padding-left        infoPadding
    &.empty
        display         none

// 000000000  000  000000000  000      00000000  0000000     0000000   00000000
//    000     000     000     000      000       000   000  000   000  000   000
//    000     000     000     000      0000000   0000000    000000000  0000000
//    000     000     000     000      000       000   000  000   000  000   000
//    000     000     000     0000000  00000000  0000000    000   000  000   000

#titlebar
    display             flex
    flex-direction      row
    height              titlebarHeight
    box-sizing          border-box
    font-size           titlebarFontSize
    padding-left        70px
    white-space         nowrap
    -webkit-app-region  drag

.dot
    display             inline-block
    vertical-align      top
    padding-left        6px
    padding-right       9px
    margin-top          -1px

#titlebar .winid
    flex                0 0 0
    display             inline-block
    vertical-align      top
    padding-left        3px
    padding-top         3px
    padding-right       12px

#titlebar .winnum
    flex                0 0 0
    float               right
    display             inline-block
    vertical-align      top
    padding-right       12px
    padding-left        12px
    padding-top         3px

// 000000000   0000000    0000000   000      000000000  000  00000000
//    000     000   000  000   000  000         000     000  000   000
//    000     000   000  000   000  000         000     000  00000000
//    000     000   000  000   000  000         000     000  000
//    000      0000000    0000000   0000000     000     000  000

.tooltip
    white-space         nowrap
    padding             3px
    padding-left        frameWidth
    padding-right       frameWidth
    border-bottom-left-radius  frameWidth
    border-bottom-right-radius frameWidth
    position            absolute
    top                 titlebarHeight
    font-size           titlebarFontSize
    opacity             0
    transform           scaleY(0)
    transition          transform 0.2s ease-in, opacity 0.2s ease-in
    overflow            hidden

// 000000000   0000000   0000000     0000000
//    000     000   000  000   000  000
//    000     000000000  0000000    0000000
//    000     000   000  000   000       000
//    000     000   000  0000000    0000000

.tabs
    flex                1 1 0
    display             flex
    flex-direction      row
    overflow-x          auto
    overflow-y          hidden

    -webkit-app-region  drag

    &::-webkit-scrollbar
        height          2px

.tabs .name
    -webkit-app-region  no-drag

// 000000000   0000000   0000000
//    000     000   000  000   000
//    000     000000000  0000000
//    000     000   000  000   000
//    000     000   000  0000000

.tab
    flex                1 1 0
    border-top-left-radius  6px
    border-top-right-radius 6px
    font-size           titlebarFontSize
    padding-left        6px
    padding-right       6px
    padding-top         3px
    cursor              pointer
    &:not(.active)
        opacity         0.5

//  0000000   00000000   00000000   0000000
// 000   000  000   000  000       000   000
// 000000000  0000000    0000000   000000000
// 000   000  000   000  000       000   000
// 000   000  000   000  00000000  000   000

#area
    position            relative
    overflow            hidden
    pointer-events      auto

#area
#terminal
    border-top          frameBorder

// 00000000  0000000    000  000000000   0000000   00000000
// 000       000   000  000     000     000   000  000   000
// 0000000   000   000  000     000     000   000  0000000
// 000       000   000  000     000     000   000  000   000
// 00000000  0000000    000     000      0000000   000   000

#terminal
#logview
#editor
    position            relative
    overflow            hidden
    font-family         font

#logview
    border-bottom       frameBorder

// 000       0000000   000   000  00000000  00000000
// 000      000   000   000 000   000       000   000
// 000      000000000    00000    0000000   0000000
// 000      000   000     000     000       000   000
// 0000000  000   000     000     00000000  000   000

.layerScroll
    fill-abs()
    overflow-x          visible
    overflow-y          hidden
    &::-webkit-scrollbar
        height          2px

.layers
    position            relative
    height              10000000px

#commandline-editor .layers
    min-height          commandlineHeight
    &::-webkit-scrollbar
        height          2px

// 000      000  000   000  00000000   0000000
// 000      000  0000  000  000       000
// 000      000  000 0 000  0000000   0000000
// 000      000  000  0000  000            000
// 0000000  000  000   000  00000000  0000000

.lines
    cursor              default
    font-size           inherit
    pointer-events      none

.line
    font-size           inherit
    white-space         nowrap
    position            absolute
    & span
        position        absolute
        pointer-events  none

//  0000000  000   000  00000000    0000000   0000000   00000000
// 000       000   000  000   000  000       000   000  000   000
// 000       000   000  0000000    0000000   000   000  0000000
// 000       000   000  000   000       000  000   000  000   000
//  0000000   0000000   000   000  0000000    0000000   000   000

.cursor
    width                2px
    margin-right        -1px
    margin-left         -1px
    position            absolute
    z-index             999999999
    display             inline-block
    &.main:not(.off)
        width            4px
        margin-right    -2px
        margin-left     -2px
        border-radius    2px

// 000   000  000   000  00     00  0000000    00000000  00000000    0000000
// 0000  000  000   000  000   000  000   000  000       000   000  000
// 000 0 000  000   000  000000000  0000000    0000000   0000000    0000000
// 000  0000  000   000  000 0 000  000   000  000       000   000       000
// 000   000   0000000   000   000  0000000    00000000  000   000  0000000

.numbers
    position            absolute
    left                0
    top                 0
    bottom              0
    width               numbersWidth
    pointer-events      none
    font-size           13px
    font-family         font

.linenumber
    width               numbersWidth
    border-right        thinBorder
    position            absolute

    & span
        display         inline-block
        width           (numbersWidth - 8px)
        text-align      right
        padding-top     2px

// 00     00  00000000  000000000   0000000
// 000   000  000          000     000   000
// 000000000  0000000      000     000000000
// 000 0 000  000          000     000   000
// 000   000  00000000     000     000   000

.meta
    position            absolute
    pointer-events      auto

    &.coffeeResult
    &.searchResult
    &.termResult
    &.termCommand
    &.coffeeCommand
        padding-right                metaRadius
        margin-right               - metaRadius
        margin-left                - editorPadding
        padding-left                 editorPadding
        border-top-right-radius      metaRadius
        border-bottom-right-radius   metaRadius

    &.termCommand
    &.coffeeCommand
    &.searchResult
        cursor              pointer

    &.coffeeResult
    &.searchResult
    &.termResult
    &.spacer
        background          transparent

    &.spacer
        border-top-right-radius    0
        border-bottom-right-radius 0

    &.git
        width               numbersWidth
        &.toggled
            opacity         1

    &.dbg
        z-index             1
        border-radius       6px
        margin-top          3px
        margin-left         4px
        width               12px
        height              12px

    &.dbg.pointer
        z-index             2
        width               0
        height              0
        border-radius       0
        margin-left         10px
        background          transparent
        border-top          6px solid transparent
        border-bottom       6px solid transparent
        border-left         6px solid

    &.pigment
        opacity             1
        border-radius       2px
        margin-left        -8px
        padding-left        8px
        padding-right       8px

.linenumber span .saveButton
    pointer-events      auto
    cursor              pointer
    width               initial
    padding-top         2px
    margin-top         -2px
    padding-left        4px
    padding-right       4px
    border-radius       4px

// 00     00  000  000   000  000  00     00   0000000   00000000
// 000   000  000  0000  000  000  000   000  000   000  000   000
// 000000000  000  000 0 000  000  000000000  000000000  00000000
// 000 0 000  000  000  0000  000  000 0 000  000   000  000
// 000   000  000  000   000  000  000   000  000   000  000

.minimap
    position            absolute
    top                 0
    bottom              0
    right               0
    width               minimapWidth
    overflow            hidden
    cursor              pointer
    border-left         thinBorder
    pointer-events      auto

.minimap canvas
    pointer-events      none
    position            absolute
    top                 0
    right               0
    overflow            hidden

.topbot
    position            absolute
    right               0
    width               minimapWidth
    pointer-events      none

.minimapLines
    background-color    transparent
    opacity             0.8

.minimapHighlights
.minimapSelections
.minimapCursors
    background-color    transparent

// 000   000  000   0000000   000   000  000      000   0000000   000   000  000000000
// 000   000  000  000        000   000  000      000  000        000   000     000
// 000000000  000  000  0000  000000000  000      000  000  0000  000000000     000
// 000   000  000  000   000  000   000  000      000  000   000  000   000     000
// 000   000  000   0000000   000   000  0000000  000   0000000   000   000     000

.highlight
    position            absolute
    pointer-events      none

.bracketmatch
    position            absolute
    pointer-events      none
    text-decoration     underline

.stringmatch
    position            absolute
    pointer-events      none
    text-decoration     underline

//  0000000  00000000  000      00000000   0000000  000000000  000   0000000   000   000
// 000       000       000      000       000          000     000  000   000  0000  000
// 0000000   0000000   000      0000000   000          000     000  000   000  000 0 000
//      000  000       000      000       000          000     000  000   000  000  0000
// 0000000   00000000  0000000  00000000   0000000     000     000   0000000   000   000

.selection
    position            absolute
    pointer-events      none

    & .empty // used in selections of empty lines
        width            1px
        margin-right    -1px

.selection
.highlight
    padding-right       selectionRadiusCursor
    margin-right        - selectionRadiusCursor
    padding-left        selectionRadiusCursor
    margin-left         - selectionRadiusCursor
    &.start
        padding-left    editorPadding
        margin-left     - editorPadding

.comment.header
    border-radius       0.3em
    border-width        0.15em
    border-left-style   solid
    border-bottom-style solid
    border-top-style    hidden
    border-right-style  hidden
    height 1.2em

.stringmatch
.bracketmatch
.selection
.highlight
    &.tl
        border-top-left-radius selectionRadius
        &.start
            border-top-left-radius 0

    &.bl
        border-bottom-left-radius selectionRadius
        &.start
            border-bottom-left-radius 0

    &.tr
        border-top-right-radius selectionRadius
    &.br
        border-bottom-right-radius selectionRadius

.stringmatch
.bracketmatch
    padding-right       0
    margin-right        0
    padding-left        0
    margin-left         0

// 000      000   0000000  000000000
// 000      000  000          000
// 000      000  0000000      000
// 000      000       000     000
// 0000000  000  0000000      000

.list
    position            absolute
    left                0
    overflow-x          hidden
    overflow-y          auto
    width               500px
    max-height          460px

.list.commands
    width               200px
    max-height          800px

.list-item
    width               100%
    height              20px
    font-family         font
    font-size           16px
    padding-left        5px
    padding-top         2px
    padding-bottom      2px
    overflow-x          auto
    overflow-y          hidden
    cursor              pointer
    white-space         nowrap
    -webkit-user-select none
    &::-webkit-scrollbar
        height          1px

// 000   000  000  000   000  000      000   0000000  000000000
// 000 0 000  000  0000  000  000      000  000          000
// 000000000  000  000 0 000  000      000  0000000      000
// 000   000  000  000  0000  000      000       000     000
// 00     00  000  000   000  0000000  000  0000000      000

.winlist
    position            absolute
    min-width           100px
    max-width           800px
    z-index             99
    overflow-x          auto
    border-bottom-right-radius 6px
    &::-webkit-scrollbar
        height          0px
    & .dot
        padding-left    10px
        padding-right   10px
    & .winid
        padding-left    73px
        padding-right   14px

.winlist-item
    padding-top         4px
    padding-right       13px
    cursor              pointer
    font-size           titlebarFontSize
    height              titlebarHeight // 20px
    white-space         nowrap

//  0000000   000   000  000000000   0000000    0000000   0000000   00     00  00000000   000      00000000  000000000  00000000
// 000   000  000   000     000     000   000  000       000   000  000   000  000   000  000      000          000     000
// 000000000  000   000     000     000   000  000       000   000  000000000  00000000   000      0000000      000     0000000
// 000   000  000   000     000     000   000  000       000   000  000 0 000  000        000      000          000     000
// 000   000   0000000      000      0000000    0000000   0000000   000   000  000        0000000  00000000     000     00000000

.autocomplete-span
    opacity             1

.autocomplete-list
    pointer-events      auto
    position            absolute
    max-height          200px
    width               auto
    overflow-x          hidden
    overflow-y          auto
    left                0
    top                 100%
    &::-webkit-scrollbar
        width            4px
    &::-webkit-scrollbar-thumb
        width            2px

.autocomplete-item
    pointer-events      auto
    white-space         nowrap
    width               100%
    display             block
    padding-left        5px
    padding-right       10px
    overflow            hidden
    cursor              pointer
    -webkit-user-select none

// 00     00   0000000   00000000   000   000  0000000     0000000   000   000  000   000
// 000   000  000   000  000   000  000  000   000   000  000   000  000 0 000  0000  000
// 000000000  000000000  0000000    0000000    000   000  000   000  000000000  000 0 000
// 000 0 000  000   000  000   000  000  000   000   000  000   000  000   000  000  0000
// 000   000  000   000  000   000  000   000  0000000     0000000   00     00  000   000

.markdown.li1::before
    content         ''
    position        absolute
    border-style    solid
    border-width    0.35em
    border-radius   0.35em
    height          0.0em
    width           0.0em
    top             0.3em
    left            0.02em

.markdown.li2::before
    content         ''
    position        absolute
    height          0.0em
    width           0.0em
    top             0.25em
    border-top      0.4em solid transparent
    border-bottom   0.4em solid transparent
    border-left     0.6em solid

.markdown.li3::before
    content         ''
    position        absolute
    border-style    solid
    border-width    0.35em
    height          0.0em
    width           0.0em
    top             0.3em
    left            0.02em

//  0000000   00000000   00000000    0000000   000   000   0000000
// 000   000  000   000  000   000  000   000  000 0 000  000
// 000000000  0000000    0000000    000   000  000000000  0000000
// 000   000  000   000  000   000  000   000  000   000       000
// 000   000  000   000  000   000   0000000   00     00  0000000

.function.marker.tail::before
    content                     ''
    position                    absolute
    border-top                  0.15em solid
    border-bottom               0.15em solid
    border-left                 0.0em solid transparent
    border-right                0.0em solid transparent
    border-top-left-radius      0.1em
    border-bottom-left-radius   0.1em
    height                      0.0em
    width                       1.08ch
    top                         0.5em

.function.marker.tail.bound::before
    content                     ''
    position                    absolute
    border-top                  0.15em solid
    border-bottom               0.15em solid
    border-left                 0.0em solid transparent
    border-right                0.0em solid transparent
    border-top-left-radius      0.1em
    border-bottom-left-radius   0.1em
    height                      0.1em
    width                       1.08ch
    top                         0.45em

.function.marker.head::before
    content                     ''
    position                    absolute
    height                      0.0em
    width                       0.0em
    top                         0.35em
    border-radius               0.1em
    border-top                  0.3em solid transparent
    border-bottom               0.3em solid transparent
    border-left                 0.8em solid

//  0000000   0000000  00000000    0000000   000      000      0000000     0000000   00000000
// 000       000       000   000  000   000  000      000      000   000  000   000  000   000
// 0000000   000       0000000    000   000  000      000      0000000    000000000  0000000
//      000  000       000   000  000   000  000      000      000   000  000   000  000   000
// 0000000    0000000  000   000   0000000   0000000  0000000  0000000    000   000  000   000

::-webkit-scrollbar
    width               scrollhandleWidth
    height              scrollhandleWidth
    background-color    transparent

::-webkit-scrollbar-track
    background-color    transparent

.scrollbar
    position            absolute
    top                 0
    cursor              ns-resize

    &.left
        bottom          0
        left            0
        width           scrollbarWidth
    &.right
        right           0
        width           10%
        height          100%

.scrollhandle
    position            absolute
    width               scrollhandleWidth
    top                 0
    &.left
        left            0
    &.right
        right           0

