//  0000000  000000000  000   000  000    
// 000          000      000 000   000    
// 0000000      000       00000    000    
//      000     000        000     000    
// 0000000      000        000     0000000

// all  initial -- to clear inherited

editorFontSize        = 14px
selectionRadius       = round(editorFontSize / 3)
selectionRadiusCursor = round(selectionRadius / 2)
metaRadius            = ceil(editorFontSize/2)

minimapWidth          = 130px
scrollbarWidth        = 12px // transparent scroll area
scrollhandleWidth     = 6px
numbersWidth          = 50px
editorPadding         = (8px + numbersWidth) 
bottomCornerRadius    = 4px
frameColor            = #222
frameBorder           = scrollhandleWidth solid frameColor
commandlineHeight     = 30px
titlebarHeight        = 22px
splithandleHeight     = 6px
thinBorder            = 1px solid frameColor
font                  = "Menlo", "Andale Mono", monospace

fill-abs()
    position        absolute
    bottom          0
    right           0
    left            0
    top             0
    
pre 
    margin          0
    
//  0000000   0000000   00     00  00     00   0000000   000   000  0000000    000      000  000   000  00000000
// 000       000   000  000   000  000   000  000   000  0000  000  000   000  000      000  0000  000  000     
// 000       000   000  000000000  000000000  000000000  000 0 000  000   000  000      000  000 0 000  0000000 
// 000       000   000  000 0 000  000 0 000  000   000  000  0000  000   000  000      000  000  0000  000     
//  0000000   0000000   000   000  000   000  000   000  000   000  0000000    0000000  000  000   000  00000000

.commandline
    padding             0
    margin              0
    display             flex
    white-space         nowrap 

.commandline-command
    font-family         font
    font-size           24px
    padding-top         0px
    padding-left        9px
    padding-right       9px
    color               #aaa
    background          #333   
    min-width           (numbersWidth + 1px)
    box-sizing          border-box
    white-space         nowrap 
    border-right        thinBorder
        
.commandline-span
    position            relative
    flex-grow           1
    white-space         nowrap 
            
.commandline-editor
    color               #fff
    background          #000
    font-family         font
    fill-abs()
    right               minimapWidth
    overflow-x          auto
    overflow-y          hidden

// 000  000   000  00000000   0000000 
// 000  0000  000  000       000   000
// 000  000 0 000  000000    000   000
// 000  000  0000  000       000   000
// 000  000   000  000        0000000 
    
.info
    overflow            hidden
    width               minimapWidth
    position            absolute
    right               0
    top                 0
    bottom              0
    padding-top         1px
    background          #111
    border-left         thinBorder    
    font-family         font
    font-size           12px
    & .info-line
        display         block

infoPadding           = 10px   
    
.info-lines
    padding-left      ( infoPadding / 2 )
    color               #555

.info-cursor-line
.info-cursor-column
    padding-left        infoPadding
    color               #ff0
    &.virtual           
        color           #08f
        
.info-cursors
    padding-left        infoPadding
    color               #f80
    &.single
        display         none

.info-selections
    padding-left        infoPadding
    color               #888
    &.empty
        display         none

.info-highlights
    padding-left        infoPadding
    color               rgb(103,103,171)
    &.empty
        display         none

// 000      000   0000000  000000000
// 000      000  000          000   
// 000      000  0000000      000   
// 000      000       000     000   
// 0000000  000  0000000      000   

.list
    position            absolute
    left                0
    overflow-x          hidden
    overflow-y          auto
    width               500px
    max-height          500px
    background          #222
    border              frameBorder
    border-left         none
    
.list-item
    width               100%
    height              20px
    font-family         font
    font-size           16px
    padding-left        5px
    padding-top         2px
    padding-bottom      2px
    overflow-x          auto
    overflow-y          hidden
    cursor              pointer
    white-space         nowrap
    -webkit-user-select none
    &::-webkit-scrollbar    
        height          1px
    &.selected
        background      #333
    &.directory
        color           #aaf
        font-weight     bold
    &::before
        content         "∘ "
        color           transparent
    &.directory::before
        content         "▸ "
        color           #88f

//  0000000   000   000  000000000   0000000    0000000   0000000   00     00  00000000   000      00000000  000000000  00000000
// 000   000  000   000     000     000   000  000       000   000  000   000  000   000  000      000          000     000     
// 000000000  000   000     000     000   000  000       000   000  000000000  00000000   000      0000000      000     0000000 
// 000   000  000   000     000     000   000  000       000   000  000 0 000  000        000      000          000     000     
// 000   000   0000000      000      0000000    0000000   0000000   000   000  000        0000000  00000000     000     00000000

.autocomplete-span
    background          #22a
    opacity             1  
    color               #ff0
    &.selected
        color           #fff
    
.autocomplete-list 
    position            absolute
    width               auto
    overflow-x          hidden
    overflow-y          auto
    left                0
    top                 100%
    background          #222
    &::-webkit-scrollbar
        width            4px
        background-color #333
    &::-webkit-scrollbar-thumb
        width            2px
        background-color #55b
    
.autocomplete-item
    white-space         nowrap
    width               100%
    color               #ccc
    display             block
    padding-left        5px
    padding-right       10px
    // padding-top         1px
    // padding-bottom      1px
    overflow            hidden
    cursor              pointer
    -webkit-user-select none    
    &.selected
        background  #55b
        color       #ff0

// 0000000     0000000   0000000    000   000
// 000   000  000   000  000   000   000 000 
// 0000000    000   000  000   000    00000  
// 000   000  000   000  000   000     000   
// 0000000     0000000   0000000       000   

*
    outline-width   0
    
body
    fill-abs()
    margin              0
    background          #000
    color               #fff
    overflow            hidden
    font-family         font
    -webkit-user-select none
    -webkit-app-region  no-drag
    
// 000000000  000  000000000  000      00000000  0000000     0000000   00000000 
//    000     000     000     000      000       000   000  000   000  000   000
//    000     000     000     000      0000000   0000000    000000000  0000000  
//    000     000     000     000      000       000   000  000   000  000   000
//    000     000     000     0000000  00000000  0000000    000   000  000   000

.titlebar
    height              titlebarHeight
    box-sizing          border-box
    background          #333
    color               #aaa
    font-size           14px
    padding-left        70px
    padding-right       70px
    white-space         nowrap
    -webkit-app-region  drag
    position            static
    display             block

.titlebar .title
.titlebar .dot
    display             inline-block
    vertical-align      top
    padding-left        10px
    padding-top         3px 
    
.titlebar .title::before
    content             attr(data-tip)
    position            absolute
    z-index             999
    white-space         nowrap
    background          #333
    opacity             0  
    top                 9999px
    transition          opacity 0.2s ease-out 
     
.titlebar .title:hover::before
    opacity             1
    top                 3px
    
.titlebar .winid
    color               #555
    &.focus
        color           #34C749
    display             inline-block
    vertical-align      top
    padding-left        3px
    padding-top         3px

.titlebar .dot.clean
    color               #444
    &.focus
        color           #34C749

.titlebar .title.focus
    color               #34C749
.titlebar .title.dirty
.titlebar .dot.dirty
    color               #aaf

// .titlebar .separator
//    opacity             1
//    background          frameColor
//    height              100%
//    width               2px
//    display             inline-block
        
//  0000000   0000000  00000000    0000000   000      000      0000000     0000000   00000000 
// 000       000       000   000  000   000  000      000      000   000  000   000  000   000
// 0000000   000       0000000    000   000  000      000      0000000    000000000  0000000  
//      000  000       000   000  000   000  000      000      000   000  000   000  000   000
// 0000000    0000000  000   000   0000000   0000000  0000000  0000000    000   000  000   000

::-webkit-scrollbar
    width                   scrollhandleWidth
::-webkit-scrollbar
    height                  scrollhandleWidth  
    background-color        transparent

::-webkit-scrollbar-corner
    background-color        #222

::-webkit-scrollbar-thumb
    background-color        #333

::-webkit-scrollbar-track
    background-color        transparent
    
::-webkit-scrollbar-thumb
    background-color        #333
    
::-webkit-scrollbar-thumb:hover
    background-color        #b00

.scrollbar
    position            absolute
    top                 0
    bottom              0
        
    &.left
        left            0
        width           scrollbarWidth
    &.right
        right           0
        width           scrollbarWidth

.scrollhandle
    background          #88f
    position            absolute
    width               scrollhandleWidth
    top                 0
    &.left
        left            0
    &.right
        right           0    

//  0000000  00000000   000      000  000000000
// 000       000   000  000      000     000   
// 0000000   00000000   000      000     000   
//      000  000        000      000     000   
// 0000000   000        0000000  000     000   
        
.split
    overflow            hidden
    position            relative
    display             block
    border-left         frameBorder
    border-right        frameBorder
    border-bottom       frameBorder
    box-sizing          border-box
    
.handle
    background          #222
    height              splithandleHeight
    overflow            hidden
    position            relative
    
.log
    bottom              0
                    
// 00000000  0000000    000  000000000   0000000   00000000 
// 000       000   000  000     000     000   000  000   000
// 0000000   000   000  000     000     000   000  0000000  
// 000       000   000  000     000     000   000  000   000
// 00000000  0000000    000     000      0000000   000   000

.terminal
.logview
.editor
    position        relative
    display         block
        
    overflow        hidden

    background      #000
    color           #ddd 
    
    font-family     font
    
.layers
    position        relative 
    overflow        hidden
        
.lines
.cursors
.highlights
.selections
    pointer-events  none
    fill-abs()

// 000      000  000   000  00000000   0000000
// 000      000  0000  000  000       000     
// 000      000  000 0 000  0000000   0000000 
// 000      000  000  0000  000            000
// 0000000  000  000   000  00000000  0000000 
    
.lines
    cursor          default
    font-size       inherit

.line
    font-size       inherit
    white-space     nowrap
    display         block
    position        absolute
    & span
        position    absolute

//  0000000  000   000  00000000    0000000   0000000   00000000 
// 000       000   000  000   000  000       000   000  000   000
// 000       000   000  0000000    0000000   000   000  0000000  
// 000       000   000  000   000       000  000   000  000   000
//  0000000   0000000   000   000  0000000    0000000   000   000
        
@keyframes blink 
  from 
    background      #ff0
  to 
    background      #800
    
*:focus .cursor.main
   animation-name      blink
   animation-duration  500ms
   animation-iteration-count infinite
   animation-direction alternate
   animation-timing-function ease-in-out

.cursor
    width            2px
    margin-right    -1px
    margin-left     -1px
    display         inline-block
    &.main:not(.off)
        width        4px
        margin-right -2px
        margin-left  -2px
        border-radius 2px       
        
*:focus .cursor      // focus colors
    background          #f80 
    &.virtual
        background      #08f
    &.main
        background      #ff0
    
.cursor               // blur colors
    background          #444
    &.main
        background      #666 
    &.virtual
        background      #111
        
// 000   000  000   000  00     00  0000000    00000000  00000000    0000000
// 0000  000  000   000  000   000  000   000  000       000   000  000     
// 000 0 000  000   000  000000000  0000000    0000000   0000000    0000000 
// 000  0000  000   000  000 0 000  000   000  000       000   000       000
// 000   000   0000000   000   000  0000000    00000000  000   000  0000000 

.numbers
    position        absolute
    left            0
    top             0
    display         block
    width           numbersWidth
    pointer-events  none
    font-size       13px
    font-family     font
    background      rgba(0, 0, 0, 0.5) // this darkens selection

@keyframes number-blink 
  from 
    color      #ff0
  to 
    color      #800
    
*:focus .linenumber.cursored.main span  
   animation-name      number-blink
   animation-duration  500ms
   animation-iteration-count infinite
   animation-direction alternate
   animation-timing-function ease-in-out
    
.linenumber
    display             block
    width               numbersWidth
    border-right        thinBorder
    
    & span
        display         inline-block
        width           (numbersWidth - 8px)
        text-align      right
        color           #333        
        
    &.highligd span 
        color           rgba(155,155,255, 0.6)
    &.selected span 
        color           #aaa
    &.highligd.selected:not(.cursored) span
        color           #bbf
    &.cursored span 
        color           #f80
    &.cursored.selected span 
        color           #ff8

// 00     00  00000000  000000000   0000000 
// 000   000  000          000     000   000
// 000000000  0000000      000     000000000
// 000 0 000  000          000     000   000
// 000   000  00000000     000     000   000

.meta
    position        absolute
    pointer-events  all
    background      #333
    opacity         0.8
    
    padding-right     metaRadius
    margin-right    - metaRadius
    margin-left     - editorPadding
    padding-left      editorPadding
    border-top-right-radius   metaRadius
    border-bottom-right-radius   metaRadius
    
    &.href
        cursor          pointer

    &.searchResult
    &.spacer
        background      #000
        border-top-right-radius 0
        border-bottom-right-radius 0
        
    &.searchResult
        background      transparent

.linenumber span .saveButton    
    pointer-events      all
    cursor              pointer
    background          #f80
    width               initial
    padding-top         2px
    margin-top         -2px
    padding-left        4px
    padding-right       4px
    border-radius       4px
        
// 00     00  000  000   000  000  00     00   0000000   00000000 
// 000   000  000  0000  000  000  000   000  000   000  000   000
// 000000000  000  000 0 000  000  000000000  000000000  00000000 
// 000 0 000  000  000  0000  000  000 0 000  000   000  000      
// 000   000  000  000   000  000  000   000  000   000  000      

.minimap
    position            absolute
    top                 0
    bottom              0
    right               0
    width               minimapWidth
    overflow            hidden
    cursor              pointer
    opacity             0.8
    background          #000
    border-left         thinBorder

.minimapCanvas
    pointer-events      none
    position            absolute
    top                 0
    right               0
    background-color    #000
    overflow            hidden

.minimapCanvasTop
    pointer-events      none
    position            absolute
    top                 0
    right               0
    background-color    transparent
    overflow            hidden
        
// 000   000  000   0000000   000   000  000      000   0000000   000   000  000000000
// 000   000  000  000        000   000  000      000  000        000   000     000   
// 000000000  000  000  0000  000000000  000      000  000  0000  000000000     000   
// 000   000  000  000   000  000   000  000      000  000   000  000   000     000   
// 000   000  000   0000000   000   000  0000000  000   0000000   000   000     000   
            
.highlight
    position        absolute
    pointer-events  none
    background      rgba(155,155,255, 0.3)

//  0000000  00000000  000      00000000   0000000  000000000  000   0000000   000   000
// 000       000       000      000       000          000     000  000   000  0000  000
// 0000000   0000000   000      0000000   000          000     000  000   000  000 0 000
//      000  000       000      000       000          000     000  000   000  000  0000
// 0000000   00000000  0000000  00000000   0000000     000     000   0000000   000   000
    
*:focus .selection
        background  #444 // focus
        
.selection
    position        absolute
    pointer-events  none
    background      #282828 // no focus
    
    & .empty // used in selections of empty lines
        width            1px
        margin-right    -1px
    
.selection
.highlight    
    padding-right   selectionRadiusCursor
    margin-right    - selectionRadiusCursor
    padding-left    selectionRadiusCursor
    margin-left     - selectionRadiusCursor
    &.start
        padding-left    editorPadding
        margin-left     - editorPadding
    
    &.tl
        border-top-left-radius selectionRadius
        &.start
            border-top-left-radius 0
            
    &.bl
        border-bottom-left-radius selectionRadius
        &.start
            border-bottom-left-radius 0
            
    &.tr
        border-top-right-radius selectionRadius
    &.br
        border-bottom-right-radius selectionRadius
                                                        