
editorFontSize        = 14px
selectionRadius       = editorFontSize/3
selectionRadiusCursor = selectionRadius/2

scrollFontSize        = 24px

::-webkit-scrollbar
    width                   8px
    height                  8px

::-webkit-scrollbar-thumb
    -webkit-border-radius:  4px
    border-radius:          4px
    background              #333

::-webkit-scrollbar-thumb:hover
    background              #666

::-webkit-scrollbar-corner
    background              #222

body
    background      #222
    color           #fff
    font-family     arial, helvetica, sans-serif
    margin          0
    height          100%
    width           100%
    position        absolute
    -webkit-user-select none
    
#main
    height          100%
    width           100%
    position        absolute
    overflow        hidden

/*
*   0000000   0000000  00000000    0000000   000      000    
*  000       000       000   000  000   000  000      000    
*  0000000   000       0000000    000   000  000      000    
*       000  000       000   000  000   000  000      000    
*  0000000    0000000  000   000   0000000   0000000  0000000
*/
        
#scroll
    font-size       scrollFontSize    
    padding-top     24px
    padding-left    4px
    width           100%
    top             0px
    position        absolute
    -webkit-app-region drag
    
/*
*   0000000  00000000   000      000  000000000
*  000       000   000  000      000     000   
*  0000000   00000000   000      000     000   
*       000  000        000      000     000   
*  0000000   000        0000000  000     000   
*/
    
#split
    width           100%
    height          10px
    background      #111
    position        absolute
    -webkit-app-region no-drag
    
/*
*  00000000  0000000    000  000000000   0000000   00000000 
*  000       000   000  000     000     000   000  000   000
*  0000000   000   000  000     000     000   000  0000000  
*  000       000   000  000     000     000   000  000   000
*  00000000  0000000    000     000      0000000   000   000
*/

#editor
    width           100%
    position        absolute
    bottom          0px
        
.input
#input
    font-size       editorFontSize                
    font-weight     bold
    position        absolute
    font-family     "Andale Mono", monospace
    white-space     nowrap
    
#input    
    top             0
    bottom          0
    left            0 
    right           0
    padding         10px
    overflow-x      auto
    overflow-y      hidden
    cursor          default
    background      #181818
    outline-width   0    
    &:focus #cursor 
        background  yellow
    &:focus > .selection
        background      rgba(255, 255, 255, 0.25)

.line
    pointer-events  none

/*
*   0000000  000   000  00000000    0000000   0000000   00000000 
*  000       000   000  000   000  000       000   000  000   000
*  000       000   000  0000000    0000000   000   000  0000000  
*  000       000   000  000   000       000  000   000  000   000
*   0000000   0000000   000   000  0000000    0000000   000   000
*/
    
#cursor
    width           2px
    margin-right    -2px
    vertical-align  text-bottom
    display         inline-block
    background      rgba(255, 255, 255, 0.2) // not focus

/*
*   0000000  000   000  000   000  000000000   0000000   000   000
*  000        000 000   0000  000     000     000   000   000 000 
*  0000000     00000    000 0 000     000     000000000    00000  
*       000     000     000  0000     000     000   000   000 000 
*  0000000      000     000   000     000     000   000  000   000
*/

.syntax
    color           #666
    
.bool           
    color           #88f
    &.false      
        color       #44f
    
.number
    color           #88f
    &.float   
        color       #f88

.dictionary
    color           #ff6

.array
    color           #00f

.class
    color           #ff0    
    
.syntax.cond
.keyword
    color           #aaf
    &.null    
        color       #a00

.variable
    color           #0aa
    
.range
    color           #80f
    
.require    
    color           #0f0

.this
.marker
    opacity         0.5
            
.module
    color           #ff8

.method
    color           #ff0
    
.property
    color           #ff2
    
.function
    color           #fa0
    &.call          
        color       #f90
    &.marker
        color       #55f
        opacity     1
        &.bound
            color   #66f
    &.bracket
        color       #55f
    &.argument
        color       #aaf
        &.punctuation
            opacity  0.5

.interpolation.marker
        color       #f83

.variable.err        
    color           #f08

.syntax.exists     
    opacity         0.7

.string
    color           #f83
        
.comment
    color           #444 !important

.require
    &.variable
        color       #4f4
    &.string 
        color       #0a0
    &.keyword.require 
        color       #666
    &.syntax
        opacity     0.5

/*
*   0000000  00000000  000      00000000   0000000  000000000  000   0000000   000   000
*  000       000       000      000       000          000     000  000   000  0000  000
*  0000000   0000000   000      0000000   000          000     000  000   000  000 0 000
*       000  000       000      000       000          000     000  000   000  000  0000
*  0000000   00000000  0000000  00000000   0000000     000     000   0000000   000   000
*/
        
.selection
    pointer-events  none
    background      rgba(255, 255, 255, 0.1) // no focus
    padding-right   6px
    margin-right    -6px
    padding-left    6px
    margin-left     -6px
    &.tl
        border-top-left-radius selectionRadius
        &.cursor
            border-top-left-radius selectionRadiusCursor
    &.bl
        border-bottom-left-radius selectionRadius
        &.cursor
            border-bottom-left-radius  selectionRadiusCursor
    &.tr
        border-top-right-radius selectionRadius
        &.cursor
            border-top-right-radius  selectionRadiusCursor
    &.br
        border-bottom-right-radius selectionRadius
        &.cursor
            border-bottom-right-radius selectionRadiusCursor
        