//  0000000  000   000  000   000  000000000   0000000   000   000
// 000        000 000   0000  000     000     000   000   000 000 
// 0000000     00000    000 0 000     000     000000000    00000  
//      000     000     000  0000     000     000   000   000 000 
// 0000000      000     000   000     000     000   000  000   000

.syntax
    color           #666
    
.invisible
    color           #888
    opacity         0.5
    
.bool           
    color           #88f
    &.false      
        color       #44f
    
.number
    color           #66f
    &.float   
        color       #f88

// 000000000  00000000   0000000  000000000  
//    000     000       000          000     
//    000     0000000   0000000      000     
//    000     000            000     000     
//    000     00000000  0000000      000     

.test
    color           #ccf
.test-suite
    color           #88f
.test-fail
    color           #ff0
.test-error
    color           #fa0
.test-pass
    color           #0a0

.dictionary
    color           #ff6

.array
    color           #00f

.owner
.callee
.class
    color           #ff8
            
.variable
    color           #a0a
    
.range
    color           #80f
    
.require    
    color           #0f0

.this
    opacity         0.6
        
.marker
    opacity         0.5

.module
    color           #ff8
        
.property
    opacity         0.8
    color           #fd8

.namespace
    color           #48a
    &.member
        color       #f80
    
.function
    color           #f80
    &.call          
        color       #f40
    &.marker
        color       #55f
        opacity     1
        &.bound
            color   #66f
    &.bracket
        color       #55f
    &.argument
        color       #aaf
        &.punctuation
            opacity  0.5

.class.function
.method
    color           #ff0
    &.call          
        color       #fa0
    &.definition
    &.template
        color       #2aa

.template
    color           #2aa
    
.operator
    color           #fa0
    &.negate
        color       #ff0

.class
    &.variable
        color       #ecf
    &.static
        color       #aaf

.static.class.marker
    color           #88f
    opacity         1
       
.keypath
    color           #f80

.syntax.cond
.keyword
    color           #aaf !important
    &.null    
        color       #a00 !important

.macro
    color           #c0f
    &.define
        color       #80c
    &.call
        color       #f0f
    &.argument
        color       #f8f

.interpolation.marker
        color       #f83

.variable.err        
    color           #f08

.syntax.exists     
    opacity         0.7

.string
    color           #0a0 !important
    &.double
        color       #0f0 !important
        
.comment
.comment.string
.comment.string.double
    color           #4f4f4f !important

.comment.header
    color           #004f00 !important
    background      rgba(0,128,0,0.5)
    border-radius   5px
    
.comment.header.minimap
    color           #0a0 !important
    opacity         1
    
.header.marker.minimap
    color           #222 !important
            
.require
    &.variable
        color       #4f4
    &.string 
        color       #0a0
    &.keyword.require 
        color       #666
    &.syntax
        opacity     0.5

// 00000000  000  000      00000000        000000000  000   000  00000000   00000000   0000000
// 000       000  000      000                000      000 000   000   000  000       000     
// 000000    000  000      0000000            000       00000    00000000   0000000   0000000 
// 000       000  000      000                000        000     000        000            000
// 000       000  0000000  00000000           000        000     000        00000000  0000000 

.directory
    color           #aaf
    font-weight     bold

.cc            
.cpp
.coffee
    color       #ff0
.h
.hpp
    color       #f80
.py
.noon
    color       #88f
.js
    color       #f33
.json
    color       #888
.md
    color       #0f0
.pug
    color       #0af
.css
    color       #05a
.styl
    color       #08f
.jade
    color       #0af
.html
    color       #0a0
.dirname 
    opacity     0.4
.extname
    opacity     0.3
.separator
    opacity     0.2
.marker
    opacity     0.4
    
.dotfile
    color       #666

// 00     00  0000000  
// 000   000  000   000
// 000000000  000   000
// 000 0 000  000   000
// 000   000  0000000  
 
.md
    &.h1
        color       #ff0
    &.h2
        color       #ff4
    &.h3
        color       #ff8
    &.h4
        color       #aaf
    &.h5
        color       #88f
    &.li1
        color       #8f8
    &.li2
        color       #4b4
    &.li3
        color       #080
    &.bold
        color       #ff0
        
.found
    text-decoration  underline
